<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="attachment">
	<!-- 通过原件的id和类型查询相应的附件 -->
	<select id="getAttachBySourceTypeId" parameterType="map"
		resultType="com.recom.domain.Attachment">
		select
		atta_id as attaId,
		atta_filename as attaFilename,
		atta_location as
		attaLocation,
		atta_size as attaSize,
		atta_downnum as attaDownnum,
		atta_describe as attaDescribe,
		atta_ori_filename as attaOriFilename
		from
		Attachment
		<where>
			<if test="sourceId!=null">
				atta_sourceid=#{sourceId}
			</if>
			<if test="sourceType!=null">
				and atta_source_type=#{sourceType}
			</if>
		</where>
	</select>

	<!-- 新增一条附件记录 -->
	<insert id="createAttachment" parameterType="com.recom.domain.Attachment"
			useGeneratedKeys="true" keyProperty="attaId">
		insert into
		Attachment
		(atta_id,atta_filename,atta_location,atta_size,
		atta_source_type,atta_sourceid,atta_describe,
		atta_ori_filename)
		values
		(#{attaId},#{attaFilename},#{attaLocation},#{attaSize},#{attaSourceType},#{attaSourceid},#{attaDescribe},
		#{attaOriFilename})
	</insert>

	<!-- 通过原件删除指定的附件 -->
	<delete id="deleteBatch" parameterType="map">
		delete from
		Attachment
		<where>
			<if test="sourceId!=null">
				atta_sourceid=#{sourceId}
			</if>
			<if test="sourceType!=null">
				and atta_source_type=#{sourceType}
			</if>
		</where>
	</delete>
	
	<!-- 通过id删除指定的附件 -->
	<delete id="deleteAttachment" parameterType="int">
		delete from
		Attachment
		where
		atta_id=#{_parameter}
	</delete>
	
	<!-- 增加指定附件的下载数 -->
	<update id="addAttachDownNum" parameterType="int">
		update
		Attachment
		set
		atta_downnum=atta_downnum+1
		where
		atta_id=#{_parameter}
	</update>
	
	<!--设置附件的原件id -->
	<update id="setAttachSourceId" parameterType="int">
		update
			Attachment
		set
			atta_sourceid=#{sourceId}
		where
			atta_id=#{attachId}
	</update>
	
	<!-- 根据id获取对应的附件 -->
	<select id="selectAttachById" parameterType="int" resultType="com.recom.domain.Attachment">
		select
			atta_id as attaId,
			atta_filename as attaFilename,
			atta_location as attaLocation,
			atta_size as attaSize,
			atta_downnum as attaDownnum,
			atta_describe as attaDescribe,
			atta_ori_filename as attaOriFilename
		from
			Attachment
		where
			atta_id=#{_parameter}
	</select>
	<!-- 查询某类附件  -->
	<select id="selectAttachByType" parameterType="int" resultType="com.recom.domain.Attachment">
		select
			atta_id as attaId,
			atta_filename as attaFilename,
			atta_location as attaLocation
		from
			Attachment
		where
			atta_source_type = #{_parameter}
	</select>
	
	<select id="findAttachmentById" parameterType="int" resultType="com.recom.domain.Attachment">
		select
			atta_id as attaId,
			atta_filename as attaFilename,
			atta_location as attaLocation,
			atta_ori_filename as attaOriFilename
		from
			Attachment
		where
			atta_id = #{_parameter}
	</select>
</mapper>