<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bbsPost">
	<resultMap type="com.recom.model.CourseStatisticModel" id="courseBbsStatistic">
		<id column="cour_id" property="courseId" jdbcType="INTEGER" />
		<result column="cour_name" property="courseName" jdbcType="VARCHAR" />
		<result column="num" property="postNum" jdbcType="INTEGER" />
	</resultMap>

	<resultMap type="com.recom.model.PlatformStatisticModel" id="schoolBbsStatistic">
		<id column="depa_id" property="schoolId" jdbcType="INTEGER" />
		<result column="num" property="postNum" jdbcType="INTEGER" />
	</resultMap>

	<!-- 按照课程来发帖数，若指定了学生id， 则统计相应学生的相关课程的发帖数. 传入参数为一个map（默认就为map，所以不指定参数）， 其中包含了所有的课程 -->
	<select id="staPostNumByCourse" resultMap="courseBbsStatistic">
		<![CDATA[
		select 
			cour_id,
			cour_name,
			count(*) as num
		from
			Course 
			inner join BbsPost on cour_id=bbpo_cour_id
		]]>
		<where>
			<if test="stuId != null">
				<![CDATA[bbpo_user_id=#{stuId}]]>
			</if>
			<if test="courses!=null and courses.size()!=0">
				and cour_id in
				<foreach collection="courses" item="course" index="index"
					open="(" close=")" separator=",">
                    	<![CDATA[#{course.courId}]]>
				</foreach>
			</if>
		</where>
		group by cour_id
		order by num desc
	</select>

	<!-- 按照学校，统计发帖数。 无需传入参数 -->
	<select id="staPostNumBySchool" resultMap="schoolBbsStatistic">
		<![CDATA[
		select 
			depa_id,
			count(*) as num
		from
			Department 
			inner join User on depa_id=user_depa_id	
			inner join BbsPost on user_id=bbpo_user_id
		where 
			depa_type=3	
		group by depa_id		
		]]>
	</select>

	<!-- 查询指定教师对指定课程的发帖数 @author 吴岘辉 -->
	<select id="staTeacherPost" parameterType="map" resultType="int">
		select		
			count(*) as postNum
		from
			BbsPost		
		<where>
			1=1 
			<if test="courId!=null and courId>0">
				and bbpo_cour_id=#{courId}
			</if>
			<if test="teaId!=null and teaId>0">
				and bbpo_user_id=#{teaId}
			</if>
		</where>
	</select>

	<!-- 统计总的发帖数 -->
	<select id="staTotalPostNum" resultType="int">
		select
		count(*)
		from
		BbsPost
	</select>

	<!-- 根据查询条件统计帖子列表总数 -->
	<select id="countPostNum" parameterType="map" resultType="int">
		select
		count(*)
		from
		BbsPost
		<where>
			1= 1 			
			<if test="courseId!=null and courseId>0">
				and bbpo_cour_id=#{courseId}
			</if>
			<if test="courseIds!=null">
				and bbpo_cour_id in
				<foreach collection="courseIds" open="(" close=")"
					separator="," item="courseId">
					#{courseId}
				</foreach>
			</if>			
			<if test="startTime!=null">
				<![CDATA[and bbpo_time >= #{startTime}]]>
			</if>
			<if test="endTime!=null">
				<![CDATA[and bbpo_time <= #{endTime}]]>
			</if>			
			<if test="departId!=null and departId>0">
				and bbpo_user_departId=#{departId}
			</if>
			<if test="searchWord!=null">
				<if test="departId!=null and (departId>0 or departId==-9)">
					and bbpo_title like '%${searchWord}%'
				</if> 
				<if test="departId==null or departId==-7">
					and bbpo_user_name like '%${searchWord}%'
				</if>
			</if>
			<if test="userId!=null and userId>0">
				and bbpo_user_id=#{userId}
			</if>
		</where>
	</select>
	
	<!-- 根据查询条件统计置顶帖子总数 -->
	<select id="countTopNum" parameterType="map" resultType="int">
		select
		count(*)
		from
		BbsPost
		<where>
			bbpo_istop= 1 			
			<if test="courseId!=null and courseId>0">
				and bbpo_cour_id=#{courseId}
			</if>
			<if test="courseIds!=null">
				and bbpo_cour_id in
				<foreach collection="courseIds" open="(" close=")"
					separator="," item="courseId">
					#{courseId}
				</foreach>
			</if>			
			<if test="startTime!=null">
				<![CDATA[and bbpo_time >= #{startTime}]]>
			</if>
			<if test="endTime!=null">
				<![CDATA[and bbpo_time <= #{endTime}]]>
			</if>
			<if test="departId!=null and departId>0">
				and bbpo_user_departId=#{departId}
			</if>
			<if test="searchWord!=null">
				<if test="departId!=null and (departId>0 or departId==-9)">
					and bbpo_title like '%${searchWord}%'
				</if> 
				<if test="departId==null or departId==-7">
					and bbpo_user_name like '%${searchWord}%'
				</if>
			</if>
			<if test="userId!=null and userId>0">
				and bbpo_user_id=#{userId}
			</if>
		</where>
	</select>

	<!-- 根据查询条件获取主贴列表(置顶) -->
	<select id="viewTopPostList" parameterType="map" resultType="com.recom.model.BbsPostModel">
		select
		bbpo_id as bbpoId,
		bbpo_cour_name as courseName,
		bbpo_title as bbpoTitle,
		bbpo_time as bbpoTime,
		bbpo_visitnum as bbpoVisitnum,
		bbpo_replynum as bbpoReplynum,
		bbpo_updateTime as bbpoUpdateTime,
		bbpo_isbest as bbpoIsbest,
		bbpo_istop as bbpoIstop,
		bbpo_user_name as userName
		from
		BbsPost
		<where>
			bbpo_istop=1 			
			<if test="courseId!=null and courseId>0">
				and bbpo_cour_id=#{courseId}
			</if>
			<if test="courseIds!=null">
				and bbpo_cour_id in
				<foreach collection="courseIds" open="(" close=")"
					separator="," index="index" item="id">
					#{id}
				</foreach>
			</if>			
			<if test="startTime!=null">
				<![CDATA[and bbpo_time >= #{startTime}]]>
			</if>
			<if test="endTime!=null">
				<![CDATA[and bbpo_time <= #{endTime}]]>
			</if>
			<if test="departId!=null and departId>0">
				and bbpo_user_departId=#{departId}
			</if>
			<if test="searchWord!=null">
				<if test="departId!=null and (departId>0 or departId==-9)">
					and bbpo_title like '%${searchWord}%'
				</if> 
				<if test="departId==null or departId==-7">
					and bbpo_user_name like '%${searchWord}%'
				</if>
			</if>
			<if test="userId!=null and userId>0">
				and bbpo_user_id=#{userId}
			</if>
			<if test="startIndex!=null and maxCount!=null and maxCount>0">
				and bbpo_id>=(select min(bbpo_id) from (
					select bbpo_id from BbsPost 
					where bbpo_istop=1 			
					<if test="courseId!=null and courseId>0">
						and bbpo_cour_id=#{courseId}
					</if>
					<if test="courseIds!=null">
						and bbpo_cour_id in
						<foreach collection="courseIds" open="(" close=")"
							separator="," index="index" item="id">
							#{id}
						</foreach>
					</if>			
					<if test="startTime!=null">
						<![CDATA[and bbpo_time >= #{startTime}]]>
					</if>
					<if test="endTime!=null">
						<![CDATA[and bbpo_time <= #{endTime}]]>
					</if>
					<if test="departId!=null and departId>0">
						and bbpo_user_departId=#{departId}
					</if>
					<if test="searchWord!=null">
						<if test="departId!=null and (departId>0 or departId==-9)">
							and bbpo_title like '%${searchWord}%'
						</if> 
						<if test="departId==null or departId==-7">
							and bbpo_user_name like '%${searchWord}%'
						</if>
					</if>
					<if test="userId!=null and userId>0">
						and bbpo_user_id=#{userId}
					</if>
						limit #{startIndex},#{maxCount}) as temp)
				limit #{maxCount}				
			</if>						
		</where>		
	</select>	
	
	<!-- 根据查询条件获取主贴列表(非置顶) -->
	<select id="viewPostList" parameterType="map" resultType="com.recom.model.BbsPostModel">
		select
		bbpo_id as bbpoId,
		bbpo_cour_name as courseName,
		bbpo_title as bbpoTitle,
		bbpo_time as bbpoTime,
		bbpo_visitnum as bbpoVisitnum,
		bbpo_replynum as bbpoReplynum,
		bbpo_updateTime as bbpoUpdateTime,
		bbpo_isbest as bbpoIsbest,
		bbpo_istop as bbpoIstop,
		bbpo_user_name as userName
		from
		BbsPost
		<where>
			bbpo_istop=0 			
			<if test="courseId!=null and courseId>0">
				and bbpo_cour_id=#{courseId}
			</if>
			<if test="courseIds!=null">
				and bbpo_cour_id in
				<foreach collection="courseIds" open="(" close=")"
					separator="," index="index" item="id">
					#{id}
				</foreach>
			</if>			
			<if test="startTime!=null">
				<![CDATA[and bbpo_time >= #{startTime}]]>
			</if>
			<if test="endTime!=null">
				<![CDATA[and bbpo_time <= #{endTime}]]>
			</if>
			<if test="departId!=null and departId>0">
				and bbpo_user_departId=#{departId}
			</if>
			<if test="searchWord!=null">
				<if test="departId!=null and (departId>0 or departId==-9)">
					and bbpo_title like '%${searchWord}%'
				</if> 
				<if test="departId==null or departId==-7">
					and bbpo_user_name like '%${searchWord}%'
				</if> 				
			</if>
			<if test="userId!=null and userId>0">
				and bbpo_user_id=#{userId}
			</if>
			<if test="startIndex!=null and maxCount!=null and maxCount>0">
				and bbpo_id>=(select min(bbpo_id) from (
					select bbpo_id from BbsPost 
					where bbpo_istop=0 			
					<if test="courseId!=null and courseId>0">
						and bbpo_cour_id=#{courseId}
					</if>
					<if test="courseIds!=null">
						and bbpo_cour_id in
						<foreach collection="courseIds" open="(" close=")"
							separator="," index="index" item="id">
							#{id}
						</foreach>
					</if>			
					<if test="startTime!=null">
						<![CDATA[and bbpo_time >= #{startTime}]]>
					</if>
					<if test="endTime!=null">
						<![CDATA[and bbpo_time <= #{endTime}]]>
					</if>
					<if test="departId!=null and departId>0">
						and bbpo_user_departId=#{departId}
					</if>
					<if test="searchWord!=null">
						<if test="departId!=null and (departId>0 or departId==-9)">
							and bbpo_title like '%${searchWord}%'
						</if> 
						<if test="departId==null or departId==-7">
							and bbpo_user_name like '%${searchWord}%'
						</if>
					</if>
					<if test="userId!=null and userId>0">
						and bbpo_user_id=#{userId}
					</if>
						limit #{startIndex},#{maxCount}) as temp)
				limit #{maxCount}				
			</if>						
		</where>				
	</select>	

	<!-- 统计我的回复对应的主贴总数 -->
	<select id="countPostNumByReply" parameterType="map" resultType="int">
		select
		count(distinct bbpo_id)
		from
		BbsPost
		inner join BbsReply on bbpo_id=bbre_bbpo_id		
		<where>		
			1=1 	
			<if test="courseIds!=null">
				and bbpo_cour_id in
				<foreach collection="courseIds" open="(" close=")"
					separator="," index="index" item="id">
					#{id}
				</foreach>
			</if>			
			<if test="startTime!=null">
				<![CDATA[and bbpo_time >= #{startTime}]]>
			</if>
			<if test="endTime!=null">
				<![CDATA[and bbpo_time <= #{endTime}]]>
			</if>
			<if test="userId!=null">
				and bbre_user_id=#{userId}
			</if>
		</where>
	</select>

	<!-- 统计我的回复对应的置顶主贴总数 -->
	<select id="countTopNumByReply" parameterType="map" resultType="int">
		select
		count(distinct bbpo_id)
		from
		BbsPost
		inner join BbsReply on bbpo_id=bbre_bbpo_id		
		<where>		
			bbpo_istop=1 
			<if test="courseIds!=null">
				and bbpo_cour_id in
				<foreach collection="courseIds" open="(" close=")"
					separator="," index="index" item="id">
					#{id}
				</foreach>
			</if>			
			<if test="startTime!=null">
				<![CDATA[and bbpo_time >= #{startTime}]]>
			</if>
			<if test="endTime!=null">
				<![CDATA[and bbpo_time <= #{endTime}]]>
			</if>
			<if test="userId!=null">
				and bbre_user_id=#{userId}
			</if>						
		</where>
	</select>
	

	<!-- 获取我的回复对应的主贴列表(置顶) -->
	<select id="viewTopPostListByReply" parameterType="map" resultType="com.recom.model.BbsPostModel">
		select
		distinct bbpo_id as bbpoId,
		bbpo_cour_name as courseName,
		bbpo_title as bbpoTitle,
		bbpo_user_name as userName,
		bbpo_time as bbpoTime,
		bbpo_visitnum as bbpoVisitnum,
		bbpo_replynum as bbpoReplynum,
		bbpo_updateTime as bbpoUpdateTime,
		bbpo_isbest as bbpoIsbest,
		bbpo_istop as bbpoIstop
		from
		BbsPost
		inner join BbsReply on bbpo_id=bbre_bbpo_id
		inner join Course on cour_id=bbpo_cour_id
		<where>	
			bbpo_istop=1  
			<if test="courseIds!=null">
				and bbpo_cour_id in
				<foreach collection="courseIds" open="(" close=")"
					separator="," index="index" item="id">
					#{id}
				</foreach>
			</if>			
			<if test="startTime!=null">
				<![CDATA[and bbpo_time >= #{startTime}]]>
			</if>
			<if test="endTime!=null">
				<![CDATA[and bbpo_time <= #{endTime}]]>
			</if>
			<if test="userId!=null">
				and bbre_user_id=#{userId}
			</if>			
		</where>		
		<if test="maxCount!=null">
			limit
			<if test="startIndex!=null">
				#{startIndex},
			</if>
			#{maxCount}
		</if>
	</select>
	<!-- 获取我的回复对应的主贴列表(非置顶) -->
	<select id="viewPostListByReply" parameterType="map" resultType="com.recom.model.BbsPostModel">
		select
		distinct bbpo_id as bbpoId,
		bbpo_cour_name as courseName,
		bbpo_title as bbpoTitle,
		bbpo_user_name as userName,
		bbpo_time as bbpoTime,
		bbpo_visitnum as bbpoVisitnum,
		bbpo_replynum as bbpoReplynum,
		bbpo_updateTime as bbpoUpdateTime,
		bbpo_isbest as bbpoIsbest,
		bbpo_istop as bbpoIstop
		from
		BbsPost
		inner join BbsReply on bbpo_id=bbre_bbpo_id
		inner join Course on cour_id=bbpo_cour_id
		<where>	
			bbpo_istop=0 
			<if test="courseIds!=null">
				and bbpo_cour_id in
				<foreach collection="courseIds" open="(" close=")"
					separator="," index="index" item="id">
					#{id}
				</foreach>
			</if>			
			<if test="startTime!=null">
				<![CDATA[and bbpo_time >= #{startTime}]]>
			</if>
			<if test="endTime!=null">
				<![CDATA[and bbpo_time <= #{endTime}]]>
			</if>	
			<if test="userId!=null">
				and bbre_user_id=#{userId}
			</if>		
		</where>		
		<if test="maxCount!=null">
			limit
			<if test="startIndex!=null">
				#{startIndex},
			</if>
			#{maxCount}
		</if>
	</select>

	<!-- 查询一个主贴的详细信息 -->
	<select id="viewBbsPostDetail" parameterType="int" resultType="com.recom.model.BbsPostModel">
		select
		bbpo_id as bbpoId,
		bbpo_cour_id as courseId,
		bbpo_cour_name as courseName,
		bbpo_title as bbpoTitle,
		bbpo_content as bbpoContent,
		bbpo_user_id as userId,
		bbpo_user_name as userName,
		bbpo_time as bbpoTime,
		bbpo_visitnum as bbpoVisitnum,
		bbpo_replynum as bbpoReplynum,
		bbpo_updateTime as bbpoUpdateTime,
		bbpo_isbest as bbpoIsbest,
		bbpo_istop as bbpoIstop,
		bbpo_hasattach as bbpoHasattach
		from
		BbsPost
		<where>
			<if test="_parameter!=null">
				bbpo_id=#{_parameter}
			</if>
		</where>		
	</select>
	
	<!-- 增加访问数 -->
	<update id="addVisitNum" parameterType="int">
		update
		BbsPost
		set
		bbpo_visitnum=bbpo_visitnum+1
		where
		bbpo_id=#{_parameter}
	</update>

	<!-- 增加回复数，并设置最近更新时间 -->
	<update id="addReplyNum" parameterType="map">
		update
		BbsPost
		set
		bbpo_replynum=bbpo_replynum+1,
		bbpo_updateTime=#{newTime}
		where
		bbpo_id=#{bbsPostId}
	</update>

	<!-- 创建新帖 -->
	<insert id="createBbsPost" parameterType="com.recom.domain.BbsPost"
		useGeneratedKeys="true" keyProperty="bbpoId">
		insert into
		BbsPost
		(bbpo_id,bbpo_cour_id,bbpo_user_id,bbpo_title,bbpo_content,
		bbpo_hasattach,bbpo_user_name,bbpo_user_departId,bbpo_cour_name)
		values
		(#{bbpoId},#{bbpoCourId},#{bbpoUserId},#{bbpoTitle},#{bbpoContent},
		#{bbpoHasattach},#{bbpoUserName},#{bbpoUserDepartId},#{bbpoCourName})
	</insert>
 <!-- 删除一个主题帖子Pery  -->
	<delete id="deleteOnePost" parameterType="int">
		delete from
		BbsPost
		where
		bbpo_id=#{_parameter}
	</delete>
	
	<!-- 置顶某个帖子,或者取消置顶 Pery -->
	<update id="setPostTop" parameterType="map">
		update
			BbsPost
		set
			bbpo_istop=#{topValue}
		where
			bbpo_id=#{bbsPostId}
	</update>
	<!-- 置精华贴，或者取消置精华  Pery-->
	<update id="setPostBest" parameterType="map">
		update
			BbsPost
		set
			bbpo_isbest=#{bestValue}
		where
			bbpo_id=#{bbsPostId}
	</update>
	
	<!--
	@author ZhangXin 
	 -->
	<select id="reply"  parameterType="int" resultType="com.recom.model.BBSReplyModel">
		<![CDATA[
			SELECT 
				u.user_realname as replyUserName,
				br.bbre_content as replyContent,
				br.bbre_time as replyTime
			FROM BbsReply br
				left outer join BbsPost bp on bp.bbpo_id = br.bbre_bbpo_id
				left outer join User u on br.bbre_user_id = u.user_id
			where
				bp.bbpo_user_id = #{id}
	]]>
	 
	</select>
	
	<!-- 获取指定用户的最新发帖（时间） -->
	<select id="viewlastPost" parameterType="int" resultType="com.recom.domain.BbsPost">
		select
			bbpo_id as bbpoId,
			bbpo_time as bbpoTime
		from
			BbsPost
		where
			bbpo_user_id=#{_parameter}
		order by 
			bbpo_time desc 
		limit 1 
	</select>
	
	<!-- 减少主贴的回复数 -->
	<update id="reduceReplyNum" parameterType="int">
		update 
			BbsPost
		set
			bbpo_replynum=bbpo_replynum-1,
			bbpo_updateTime=now() 
		where 
			bbpo_id=#{_parameter}
	</update>
	
	<!-- 同步主贴的冗余字段（机构和课程） -->
	<update id="updateDepaCourInfo" parameterType="map">
		update 
			BbsPost
		<set>
			<if test="userName!=null">
				bbpo_user_name=#{userName},
			</if>
			<if test="depaId!=null and depaId>0">
				bbpo_user_departId=#{depaId},
			</if>
			<if test="courName!=null">
				bbpo_cour_name=#{courName}
			</if>
		</set>
		<where>
			1=1 
			<if test="userId!=null and userId>0">
				and bbpo_user_id=#{userId}
			</if>
			<if test="courId!=null and courId>0">
				and bbpo_cour_id=#{courId}
			</if>
		</where>
	</update>
	
	<!-- 统计课程的主贴数 -->
	<select id="staCourseBbsPostState" parameterType="list" 
			resultType="com.recom.model.CourseLearnModel">
		select 	
			bbpo_cour_id as courseId,
			count(*) as bbsPostNum
		from 
			BbsPost
		<if test="list!=null and list.size()>0">
		where 
			bbpo_cour_id in
			<foreach collection="list" item="courId" index="index"
				open="(" close=")" separator=",">
				#{courId}
			</foreach>
		</if>
		GROUP BY bbpo_cour_id
	</select>

	<!-- 根据查询条件，统计课程的主贴数 by libo -->
	<select id="staCourseBbsPostStateByQuery" resultType="com.recom.model.CourseLearnModel">
		select
		bbpo_cour_id as courseId,
		count(*) as bbsPostNum
		from
		BbsPost
		inner
		join User on user_id=bbpo_user_id
		<where>
			user_type=1
			<if test="departId!=null and departId>0">
				and user_depa_id=#{departId}
			</if>
			<if test="courseIds!=null and courseIds.size()>0">
				and bbpo_cour_id in
				<foreach collection="courseIds" item="courseId" index="index"
					open="(" close=")" separator=",">
					#{courseId}
				</foreach>
			</if>
		</where>
		GROUP BY bbpo_cour_id
	</select>
</mapper>