<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="course">

	<!-- 学生个人所有课程及其包含章节查询 @type resultMap @author EasonLian -->
	<resultMap id="courseModel" type="com.recom.model.CourseModel">
		<constructor>
			<idArg column="cour_id" javaType="INTEGER" />
			<arg column="cour_name" javaType="String" />
		</constructor>
		<result column="atta_location" property="courImg" jdbcType="VARCHAR" />
		<result column="cour_describe" property="courDescribe"
			jdbcType="LONGVARCHAR" />
		<result column="cour_cateIds" property="courCateIds" jdbcType="VARCHAR" />
		<result column="cour_teacher_ids" property="courTeacherIds"
			jdbcType="VARCHAR" />
		<result column="cour_mentro_teaids" property="courMentroTeaids"
			jdbcType="VARCHAR" />
		<result column="cour_credit" property="courCredit" jdbcType="VARCHAR" />
		<result column="atta_filename" property="fileName" jdbcType="VARCHAR" />
		<result column="cour_type" property="courType" jdbcType="VARCHAR" />
		<!-- <collection property="chapters" ofType="com.recom.domain.Chapter"> 
			<id property="chapId" column="chap_id" /> <result property="chapName" column="chap_name" 
			/> </collection> -->
	</resultMap>

	<resultMap type="com.recom.domain.Course" id="CourBaseResultMap">
		<id column="cour_id" property="courId" jdbcType="INTEGER" />
		<result column="cour_cateIds" property="courCateids" jdbcType="VARCHAR" />
		<result column="cour_tepa_id" property="courTepaId" jdbcType="INTEGER" />
		<result column="cour_code" property="courCode" jdbcType="VARCHAR" />
		<result column="cour_name" property="courName" jdbcType="VARCHAR" />
		<result column="cour_describe" property="courDescribe"
			jdbcType="VARCHAR" />
		<result column="cour_credit" property="courCredit" jdbcType="FLOAT" />
		<result column="cour_teacher_ids" property="courTeacherIds"
			jdbcType="VARCHAR" />
		<result column="cour_mentro_teaids" property="courMentroTeaids"
			jdbcType="VARCHAR" />
		<result column="cour_time_schedule" property="courTimeSchedule"
			jdbcType="VARCHAR" />
		<result column="cour_state" property="courState" jdbcType="INTEGER" />
		<result column="cour_create_userid" property="courCreateUserid"
			jdbcType="INTEGER" />
		<result column="cour_create_time" property="courCreateTime"
			jdbcType="DATE" />
		<result column="cour_poston" property="courPoston" jdbcType="BIT" />
		<result column="cour_forumName" property="courForumname"
			jdbcType="VARCHAR" />
		<result column="cour_verify" property="courVerify" jdbcType="BIT" />
		<result column="cour_coverPictureId" property="courCoverpictureid"
			jdbcType="INTEGER" />
		<result column="cour_openToAll" property="courOpenToAll"
			jdbcType="BIT" />
		<result column="cour_chooseNum" property="courChooseNum"
			jdbcType="INTEGER" />
		<result column="cour_type" property="courType" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 通过课程查询其主讲老师姓名 @author EasonLian -->
	<select id="viewAllCourTeacherNameByCourse" parameterType="integer"
		resultType="string">
		SELECT
		user.user_realname
		FROM
		User as user
		WHERE
		<if test="teaIds == null">
			user.user_id = 0
		</if>
		<if test="teaIds != null">
			user.user_id IN (
			${teaIds}
			)
		</if>
	</select>
	<select id="viewAllCourTeacherByCourse" parameterType="integer"
		resultType="com.recom.model.TeacherInfoModel">
		SELECT
		u.user_realname as userRealname,
		u.user_id as userId,
		u.user_coverPictureId as userCoverPictureId,
		u.user_remark as
		userRemark,
		atta.atta_filename as fileName,
		atta.atta_location as
		fileLocation
		FROM
		User as u
		LEFT OUTER JOIN
		Attachment atta ON
		atta.atta_id = user_coverPictureId
		<where>
			<if test="teaIds == null or teaIds==''">
				u.user_id = 0
			</if>
			<if test="teaIds != null and teaIds!=''">
				u.user_id in
				(${teaIds})
			</if>
		</where>
	</select>
	<!-- 通过课程id查询选课人数 @author Easonlian -->
	<select id="getCourseChoosedNum" parameterType="integer"
		resultType="integer">
		SELECT
		count(*)
		FROM
		Re_SelectCource as resc
		WHERE
		rsco_valid=1
		and rsco_verify=1
		and rsco_cour_id = #{courId}
	</select>

	<!-- 通过教师id查询他所有的课程 @author EAsonlian -->
	<select id="viewAllCourIdByTeacherId" parameterType="hashmap"
		resultType="integer">
		SELECT
		cour.cour_id
		FROM
		Course as cour
		WHERE
		cour.cour_teacher_ids LIKE
		'%,${userId},%'
		<!-- OR cour.cour_mentro_teaids LIKE '%,${userId},%' -->
		AND cour.cour_verify = 1
	</select>

	<!-- 通过学生id查询他所有的课程 @author EasonLian -->
	<select id="viewAllCourIdByStudentId" parameterType="integer"
		resultType="list">
		SELECT
		rsco_cour_id as courId
		FROM
		Re_SelectCource
		WHERE
		rsco_valid=1 and rsco_verify=1
		and rsco_user_id = ${userId}
	</select>

	<!-- 通过课程id查询它的封面图片 @author EasonLian -->
	<select id="getCourseCoverImgById" parameterType="integer"
		resultType="com.recom.domain.Attachment">
		SELECT
		atta_location as attaLocation,
		atta_filename as
		attaFilename
		FROM
		Attachment
		WHERE
		atta_id = (
		SELECT
		cour_coverPictureId
		FROM
		Course
		WHERE
		cour_id = #{courId}
		)
	</select>

	<select id="selectCourseInfoByIds" parameterType="list" resultType="com.recom.model.CourseModel"> 
		select 
		c.cour_id as courId,
		c.cour_name as courName,
		c.cour_describe as courDescribe,
		c.cour_state as courState,
		c.cour_credit as courCredit,
		c.cour_cateIds as courCateIds,
		c.cour_teacher_ids as courTeacherIds,
		c.cour_type as courType,
		c.cour_chooseNum as courChoosedNum,
		a.atta_location as courImg,
		a.atta_filename as filename,
		cs.csin_opentime as openDate,
		cs.csin_closetime as closeDate
		from 
		Course as c left join Attachment as a on a.atta_id=c.cour_coverPictureId
		left join
		CourseSelectInformation cs on c.cour_id=cs.csin_cour_id
		where 
		1=1
		<if test="list!=null and list.size()>0">
				and c.cour_id in
				<foreach collection="list" item="courId" index="index" open="("
					close=")" separator=",">
					#{courId}
				</foreach>
		</if>
	</select>

	<!-- 查询老师的课程及该课程学生总数 @author EasonLIan -->
	<select id="viewAllCourseByTeacher" parameterType="hashmap"
		resultType="com.recom.model.CourseModel">
		SELECT
		cour_id as courId,
		cour_name as courName,
		cour_code as
		courCode
		FROM
		Course as cour
		WHERE
		cour.cour_teacher_ids LIKE
		'%${userId}%'
		OR
		cour.cour_mentro_teaids LIKE '%${userId}%'
	</select>

	<!-- 查询选择该门课程的学生总数 @author EasonLian -->
	<select id="getAllCourseByTeacherCount" parameterType="hashmap"
		resultType="integer">
		SELECT
		count(*)
		FROM
		Re_SelectCource as rsco
		LEFT JOIN
		User as
		user
		ON
		user.user_id = rsco.rsco_user_id
		WHERE
		rsco_valid=1 and
		rsco_verify=1 and
		rsco.rsco_cour_id = #{courId}
		AND user.user_depa_id =
		#{depaId}
	</select>

	<!-- 查询所有的课程信息 @author EasonLian -->
	<select id="viewAllCourNameList" resultType="com.recom.domain.Course">
		SELECT
		cour.cour_id as courId,
		cour.cour_name as courName
		FROM
		Course as
		cour
		WHERE
		(
		cour.cour_verify = 1 <!-- 审批通过 -->
		<if test="userId != null">
			AND cour.cour_teacher_ids LIKE '%,${userId},%'
		</if>
		)
	</select>

	<!-- 在线自测课程查看 @author yangzq -->
	<resultMap id="testCourseViewModel" type="com.recom.model.TestCourseViewModel">
	</resultMap>

	<resultMap type="com.recom.domain.Course" id="courseTeacherStatistic">
		<id column="cour_id" property="courId" jdbcType="INTEGER" />
		<result column="cour_name" property="courName" jdbcType="VARCHAR" />
		<result column="cour_code" property="courCode" jdbcType="VARCHAR" />
		<result column="cour_type" property="courType" jdbcType="VARCHAR" />
		<result column="cour_mentro_teaids" property="courMentroTeaids"
			jdbcType="VARCHAR" />
		<result column="cour_teacher_ids" property="courTeacherIds"
			jdbcType="VARCHAR" />
	</resultMap>

	<!-- 通过课程id查询course信息 @type select @author EasonLian -->
	<select id="selectOneByCourId" parameterType="INTEGER"
		resultType="com.recom.model.CourseModel">
		SELECT
		cour.cour_id as courId,
		cour.cour_name as courName,
		cour.cour_describe as courDescribe,
		cour.cour_state as courState,
		cour.cour_credit as courCredit,
		cour.cour_cateIds as courCateIds,
		cour.cour_teacher_ids as courTeacherIds,
		cour.cour_type as courType,
		atta.atta_location as courImg,
		atta.atta_filename as filename,
		csin_opentime as openDate,
		csin_closetime as closeDate,
		evme_pattern as
		courTepaPattern,
		evme_threhold as courTepaThrehold
		<!-- <if test="userId != null"> ,rsco.rsco_id as rscoId </if> -->
		FROM
		Course as cour
		<!-- <if test="userId != null"> , Re_SelectCource as rsco </if> -->
		LEFT JOIN Attachment as atta
		ON atta.atta_id = cour.cour_coverPictureId
		left join
		CourseSelectInformation on cour_id=csin_cour_id
		left join
		EvaluateMethod on cour_tepa_id=evme_id
		WHERE
		<!-- <if test="userId != null"> rsco.rsco_id = ( SELECT rsco_id FROM Re_SelectCource 
			as rsco WHERE rsco.rsco_user_id = #{userId} AND rsco.rsco_cour_id = #{courId} 
			) AND </if> -->
		cour.cour_id = #{courId}
		<!-- AND ( atta.atta_id is null OR atta.atta_id = ( SELECT cour_coverPictureId 
			FROM Course WHERE cour_id = #{courId} ) ) -->
	</select>

	<!-- 通过课程id和userid查询该课程是否被该学生选择 @type select @author 杨春明 -->
	<select id="isChooseCourse" parameterType="hashmap" resultType="java.lang.Integer">
		SELECT
		COUNT(rsc.rsco_id) as rsccount
		FROM
		Re_SelectCource as rsc
		WHERE
		rsco_valid=1 and rsco_verify=1 and
		rsc.rsco_cour_id = #{courId}
		AND
		rsc.rsco_user_id = #{userId}
	</select>

	<!-- 学生个人所有课程及其包含章节查询 @type select语句 @author EasonLian -->
	<select id="viewCourseList" parameterType="hashmap" resultMap="courseModel">
		SELECT
		cour.cour_id,
		cour.cour_name,
		cour.cour_describe,
		cour.cour_credit,
		cour.cour_teacher_ids,
		cour.cour_cateIds,
		atta.atta_location,
		atta.atta_filename
		FROM
		Course as cour
		LEFT JOIN
		Attachment as atta
		ON
		atta.atta_id = cour.cour_coverPictureId
		<if test="!isViewAll">
			WHERE
			(
			cour.cour_id IN (
			SELECT
			rsco_cour_id
			FROM
			Re_SelectCource as rsc
			WHERE
			rsco_valid=1 and rsco_verify=1 and
			rsc.rsco_user_id =
			#{userId,jdbcType=INTEGER}
			)
			<if test="userType == 2 and courIds != null">
				OR cour.cour_id IN (
				${courIds}
				)
			</if>
			)
			AND
			cour.cour_verify = 1
			AND
			cour.cour_state = 1

		</if>
		<if test="isViewAll">
			WHERE
			cour.cour_verify = 1
			AND cour.cour_state = 1 <!-- 课程状态 -->
			AND cour.cour_openToAll = 1 <!-- 对所有学生开放 -->
			ORDER BY
			cour.cour_assess_score DESC,cour_create_time LIMIT 0,6
		</if>
	</select>

	<!-- 自测课程查询 @author yangzq -->
	<select id="testCourseView" parameterType="java.util.Map"
		resultMap="testCourseViewModel">
	<![CDATA[
		SELECT
			c.expa_ordinal as expaOrdinal,
			c.expa_name as expaName,
			c.expa_describe as expaDescribe,
			c.expa_difficulty as expaDifficulty,
			c.expa_totalscore as expaTotalscore,
			a.cour_id as courseId,
			a.cour_name as courseName,
			a.cour_describe as courseDescribe,
			b.rsco_state as courseStatusCode
		FROM
			Course as a,
			Re_SelectCource as b,
			ExamPaper as c
		WHERE
			rsco_valid=1 and 
			b.rsco_user_id=#{userId} AND 
			b.rsco_cour_id = a.cour_id AND 
			b.rsco_verify = #{rscoVerify} AND
			c.expa_cour_id = a.cour_id 
	]]>
	</select>

	<!-- 查询所有课程的基本信息：id、名称、教师等 -->
	<select id="queryCourseBaseInfor" resultMap="courseTeacherStatistic">
		select
		cour_id,
		cour_name,
		cour_code,
		cour_type,
		cour_mentro_teaids,
		cour_teacher_ids
		from
		Course
	</select>


	<!-- 查询所有课程的基本信息：id、名称、教师等 -->
	<select id="queryCourseTeachersByQuery" parameterType="hashmap"
		resultType="com.recom.model.CourseDetailModel">
		select
		cour_id as courId,
		cour_name as courName,
		cour_code as courCode,
		cour_mentro_teaids as courMentroTeaids,
		cour_teacher_ids as
		courTeacherIds,
		depa_name as departName
		from
		Course
		left join User on
		user_id=cour_create_userid
		left join Department on user_depa_id=depa_id
		<where>
			cour_state=1 and cour_verify=1
			<if
				test="searchWord!=null and searchWord!=''
				and searchType!=null and searchType>0">
				<if test="searchType == 1">
					and cour_name like #{searchWord}
				</if>
				<if test="searchType == 2">
					and cour_code like #{searchWord}
				</if>
			</if>
			<if test="courDepaId != null and courDepaId > 0">
				and depa_id= #{courDepaId}
			</if>
			<if test="privateLimit != null and privateLimit > 0">
				and cour_openToAll=1
			</if>
		</where>
		<if test="maxCount!=null">
			limit
			<if test="startIndex!=null">
				#{startIndex},
			</if>
			#{maxCount}
		</if>
	</select>

	<!-- 计算总数 -->
	<select id="countCourseTeachersByQuery" parameterType="hashmap"
		resultType="Integer">
		select count(*) from Course
		left join User on
		user_id=cour_create_userid
		left join Department on user_depa_id=depa_id
		<where>
			cour_state=1 and cour_verify=1
			<if
				test="searchWord!=null and searchWord!=''
				and searchType!=null and searchType>0">
				<if test="searchType == 1">
					and cour_name like #{searchWord}
				</if>
				<if test="searchType == 2">
					and cour_code like #{searchWord}
				</if>
			</if>
			<if test="courDepaId != null and courDepaId > 0">
				and depa_id= #{courDepaId}
			</if>
			<if test="privateLimit != null and privateLimit > 0">
				and cour_openToAll=1
			</if>
		</where>
		<if test="maxCount!=null">
			limit
			<if test="startIndex!=null">
				#{startIndex},
			</if>
			#{maxCount}
		</if>
	</select>

	<select id="count" parameterType="hashmap" resultType="int">
		select COUNT(*)
		from Course c
		LEFT JOIN CourseSelectInformation as csin
		on csin.csin_cour_id = c.cour_id
		LEFT JOIN User as u on u.user_id =
		c.cour_create_userid
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			c.cour_state = 1 and c.cour_verify = 1
			<if test="search != null">
				and (c.cour_name LIKE #{search} or (select user_realname
				from
				User u1 where c.cour_teacher_ids LIKE
				CONCAT("%,",u1.user_id,",%") limit
				0,1) LIKE #{search})
			</if>
			<if test="userId != null">
				and c.cour_id NOT IN(
				select rsco_cour_id from
				Re_SelectCource
				WHERE rsco_valid=1 and rsco_verify=1 and rsco_user_id
				= #{userId}
				)
			</if>
			<if test="openTime != null">
				<![CDATA[
				and	(csin.csin_opentime is null or csin.csin_opentime >= #{openTime})
				]]>
			</if>
			<if test="closeTime != null">
				<![CDATA[
				and (csin.csin_closetime is null or csin.csin_closetime <= #{closeTime})
				]]>
			</if>
			<if test="cateId!=null and cateId >0">
				and c.cour_cateIds Like CONCAT("%",'${cateId}',"%")
			</if>
			<if test="departmentId != null and departmentId > 0">
				and ( c.cour_openToAll = 1 or ( u.user_depa_id =
				#{departmentId} and c.cour_openToAll = 0))
			</if>
		</trim>
	</select>


	<!-- @author ZhangXin -->
	<select id="selectCourseByNameQuery" parameterType="hashmap"
		resultType="com.recom.model.CourseModel">
		<![CDATA[
			SELECT distinct
				c.cour_name as courName,
				c.cour_id as courId,
				c.cour_credit as courCredit,
				c.cour_describe as courDescribe,
				atta.atta_location as courImg,
				atta.atta_filename as fileName,
				c.cour_cateIds as courCateIds,
				c.cour_tepa_id as courTepaId,
				c.cour_teacher_ids as courTeacherIds,
				c.cour_chooseNum as courChoosedNum,
				c.cour_type as courType,
				csin.csin_opentime as openDate,
				csin.csin_closetime as closeDate
			FROM Course c
			LEFT JOIN
				Attachment atta	ON c.cour_coverPictureId = atta.atta_id
			LEFT JOIN 
				CourseSelectInformation csin ON csin.csin_cour_id = c.cour_id
			LEFT JOIN 
				User as u on u.user_id = c.cour_create_userid
			LEFT JOIN
				User as u1 on c.cour_teacher_ids LIKE CONCAT("%,",u1.user_id,",%")
	]]>
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			c.cour_state = 1 and c.cour_verify = 1
			<if test="search != null">
				and (c.cour_name LIKE #{search} or u1.user_realname LIKE
				#{search})
			</if>
			<if test="userId != null">
				and c.cour_id NOT IN(
				select rsco_cour_id from
				Re_SelectCource
				WHERE rsco_valid=1 and rsco_verify=1 and rsco_user_id
				= #{userId}
				)
			</if>
			<if test="openTime != null">
				<![CDATA[
				and	(csin.csin_opentime is null or csin.csin_opentime >= #{openTime})
				]]>
			</if>
			<if test="closeTime != null">
				<![CDATA[
				and (csin.csin_closetime  is null or csin.csin_closetime <= #{closeTime})
				]]>
			</if>
			<if test="cateId!=null and cateId >0">
				and c.cour_cateIds Like CONCAT("%",'${cateId}',"%")
			</if>
			<if test="departmentId != null and departmentId > 0">
				and ( c.cour_openToAll = 1 or ( u.user_depa_id =
				#{departmentId} and c.cour_openToAll = 0))
			</if>
		</trim>
		ORDER BY c.cour_chooseNum DESC
		<if test="maxCount!=null">
			limit
			<if test="startIndex!=null">
				#{startIndex},
			</if>
			#{maxCount}
		</if>
	</select>


	<select id="select" parameterType="java.util.HashMap"
		resultType="com.recom.model.CourseTrainModel">
		<![CDATA[
			SELECT co.cour_id as courId ,
			co.cour_name as courName ,
			co.cour_describe as courDescribe ,
			co.cour_state as courState 
			FROM Course co
			LEFT OUTER JOIN Re_SelectCource re ON re.rsco_cour_id=co.cour_id 
		]]>
		<where>
			co.cour_state = 1 and rsco_valid=1 and rsco_verify=1
			<if test="userId !=null and userId > 0">
				and re.rsco_user_id=#{userId}
			</if>
			<if test="searchType!=null and searchWord!=null">
				<choose>
					<when test="searchType==0">
						and co.cour_name like
						CONCAT('%','${searchWord}','%' )
					</when>
				</choose>
			</if>
			<if test="courState !=null and courState>=0">
				and co.cour_state=#{courState}
			</if>
			<if test="rscoVerify != null">
				and re.rsco_verify=#{rscoVerify}
			</if>
			<if test="startTime != null and startTime != ''">
				and re.rsco_time>=#{startTime}
			</if>
			<if test="endTime != null and endTime != ''">
				and <![CDATA[re.rsco_time<=#{endTime}]]>
			</if>
		</where>
		<if test="maxCount!=null">
			limit
			<if test="startIndex!=null">
				#{startIndex},
			</if>
			#{maxCount}
		</if>
	</select>
	<select id="selectCourse" parameterType="java.util.HashMap"
		resultType="com.recom.model.CourseTrainModel">
		<![CDATA[
			SELECT co.cour_id as courId ,
			co.cour_name as courName ,
			co.cour_describe as courDescribe ,
			co.cour_credit as courCredit,
			co.cour_state as courState 
			FROM Course co
		]]>
		<where>
			co.cour_state = 1
			<if test="courId != null and courId > 0">
				and co.cour_id=#{courId}
			</if>
		</where>
	</select>
	<select id="selectCount" parameterType="java.util.HashMap"
		resultType="java.lang.Integer">
		SELECT COUNT(co.cour_id) FROM Course co LEFT OUTER JOIN
		Re_SelectCource re ON re.rsco_cour_id=co.cour_id
		<where>
			co.cour_state = 1 and rsco_valid=1 and rsco_verify=1
			<if test="userId>0">
				and re.rsco_user_id=#{userId}
			</if>
			<if test="rscoVerify != null">
				and re.rsco_verify=#{rscoVerify}
			</if>
			<if test="courState != null and courState>=0">
				and co.cour_state=#{courState}
			</if>
		</where>
	</select>

	<!-- 查询指定部门对于的课程列表 @atuthor 吴岘辉 -->
	<select id="viewCourseListByDepartment" parameterType="map"
		resultType="com.recom.domain.Course">
		select
		cour_id as courId,
		cour_name as courName
		from
		Course
		<if test="departIds!=null and departIds.size()>0">
			inner join User
			on user_id=cour_create_userid
		</if>
		<where>
			cour_verify=1
			and cour_state=1
			<if test="departIds!=null and departIds.size()>0">
				and user_depa_id in
				<foreach collection="departIds" item="departId" index="index"
					open="(" close=")" separator=",">
                    	<![CDATA[#{departId}]]>
				</foreach>
			</if>
			<if test="type!=null">
				and cour_poston=#{type}
			</if>
		</where>
		order by cour_id
	</select>

	<!-- 通过审核的课程数 @atuthor 吴岘辉 -->
	<select id="staVerifiedCourseNum" resultType="int">
		select
		count(*)
		from
		Course
		where
		cour_verify=1
	</select>
	<!-- 通過id查詢一條課程記錄 @張鑫 -->
	<select id="selectOneCourse" parameterType="int"
		resultType="com.recom.model.CourseModel">
		select
		c.cour_id as courId,
		c.cour_name as courName,
		c.cour_credit as courCredit,
		c.cour_describe as courDescribe,
		Att.atta_location as imgLocation,
		Att.atta_filename as fileName
		from
		Course as c
		left join Attachment as Att on Att.atta_id =
		c.cour_coverPictureId
		where
		c.cour_id=#{courseId}
	</select>

	<!-- 通過課程名稱模糊匹配 @張鑫 -->
	<select id="selectCourseByName" parameterType="hashmap"
		resultType="com.recom.model.CourseModel">
		select
		c.cour_id as courId,
		c.cour_name as courName,
		c.cour_credit as
		courCredit,
		c.cour_describe as courDescribe
		from Course c
		<where>
			c.cour_state = 1
			<if test="search != null">
				and c.cour_name LIKE #{search}
			</if>
			<if test="userId != null">
				and c.user_id = #{userId}
			</if>
		</where>
	</select>

	<!-- 下拉框使用的课程列表，只返回id和name的List by 杨志乾 -->
	<select id="dropDownCourse" resultType="com.recom.model.CourseModel">
		SELECT
		c.cour_id as courId,
		c.cour_name as courName
		FROM
		Course c
		<if test="departId !=null and departId > 0">
			LEFT OUTER JOIN CourseSelectInformation csin ON
			csin.csin_cour_id = c.cour_id
		</if>
		<if test="userId != null and userId >0">
			LEFT OUTER JOIN Re_SelectCource rsco ON rsco.rsco_cour_id
			= c.cour_id
		</if>
		<trim prefix="where" prefixOverrides="and|or">

			1=1
			<if test="departId !=null and departId > 0">
				and (csin.csin_depa_id = #{departId} or cour_openToAll=1)
			</if>
			<if test="userId != null and userId >0">
				and rsco.rsco_user_id = #{userId} and rsco_valid=1 and
				rsco_verify=1
			</if>
			<if test="teacherId != null and teacherId != ''">
				and (c.cour_teacher_ids like
				CONCAT('%','${teacherId}','%')
				or cour_mentro_teaids like
				CONCAT('%','${teacherId}','%'))
			</if>
			AND
			c.cour_state = 1
			AND
			c.cour_verify = 1
		</trim>
	</select>

	<!-- 课程注册 @张鑫 -->
	<insert id="course-register" parameterType="com.recom.domain.Course">
		insert into
		Course (
		cour_tepa_id,cour_code,
		cour_name,cour_credit,
		cour_create_userid,cour_create_time,
		cour_verify)
		values (
		#{courTepaId},#{courCode},
		#{courName},#{courCredit},
		#{courCreateUserid},
		#{courCreateTime},#{courVerify}
		)
	</insert>

	<!-- 查找指定課程core是否存在@张鑫 -->
	<select id="select-bycore" parameterType="string" resultType="hashmap">
		select cour_id
		from Course c
		where c.cour_state = 1 and c.cour_code =
		#{_parameter}
	</select>

	<!-- 统计符合条件的课程论坛总数 -->
	<select id="countCourseBbsNum" resultType="int">
		select
		count(*)
		from
		Course
		<if test="departId!=null and departId>0 or searchType==4">
			inner join User on cour_create_userid=user_id
		</if>
		<where>
			cour_state = 1 and cour_verify = 1
			<if test="departId!=null and departId>0">
				and user_depa_id=#{departId}
			</if>
			<if test="searchType!=null and searchWord!=null and searchWord!=''">
				<if test="searchType==1">
					and cour_name like '%${searchWord}%'
				</if>
				<if test="searchType==2">
					and cour_code like '%${searchWord}%'
				</if>
				<if test="searchType==3">
					and cour_poston like '%${searchWord}%'
				</if>
				<if test="searchType==4">
					and user_realname like '%${searchWord}%'
				</if>
			</if>
		</where>
	</select>

	<!-- 查询符合条件的课程论坛列表 -->
	<select id="viewCourseBbsList" resultType="com.recom.model.CourseBbsModel">
		select
		cour_id as courseId,
		cour_name as courseName,
		cour_code as
		courseCode,
		user_realname as moderator,
		cour_poston as bbsPostOn
		from
		Course
		inner join User on cour_create_userid=user_id
		<where>
			cour_state = 1 and cour_verify = 1
			<if test="departId!=null and departId>0">
				and user_depa_id=#{departId}
			</if>
			<if test="searchType!=null and searchWord!=null and searchWord!=''">
				<if test="searchType==1">
					and cour_name like '%${searchWord}%'
				</if>
				<if test="searchType==2">
					and cour_code like '%${searchWord}%'
				</if>
				<if test="searchType==3">
					and cour_poston like '%${searchWord}%'
				</if>
				<if test="searchType==4">
					and user_realname like '%${searchWord}%'
				</if>
			</if>
		</where>
	</select>

	<!-- 批量更改bbs论坛的开闭状态 -->
	<update id="setCourseBbsStatus" parameterType="map">
		update
		Course
		set
		cour_poston=#{bbsStatus}
		<where>
			<if test="courseIds!=null and courseIds.size()>0">
				cour_id in
				<foreach collection="courseIds" item="courseId" index="index"
					open="(" close=")" separator=",">
                    	<![CDATA[#{courseId}]]>
				</foreach>
			</if>
		</where>
	</update>

	<!-- 更新课程信息 author luohui -->
	<update id="updateCourseInfo" parameterType="com.recom.domain.Course">
		UPDATE
		Course
		<set>
			<if test="courCateids != null and courCateids != ''">cour_cateIds = #{courCateids,jdbcType=VARCHAR},</if>
			<if test="courTepaId != null and courTepaId > 0">cour_tepa_id = #{courTepaId,jdbcType=INTEGER},</if>
			<if test="courCode != null and courCode != ''">cour_code = #{courCode,jdbcType=VARCHAR},</if>
			<if test="courYear != null and courYear >-1">cour_year = #{courYear,jdbcType=INTEGER},</if>
			<if test="courTerm != null and courTerm >-1">cour_term = #{courTerm,jdbcType=INTEGER},</if>
			<if test="courStudyPhase != null and courStudyPhase >-1">cour_studyPhase = #{courStudyPhase,jdbcType=INTEGER},
			</if>
			<if test="courArtScience != null and courArtScience >-1">cour_artScience = #{courArtScience,jdbcType=INTEGER},
			</if>
			<if test="courName != null and courName != ''">cour_name = #{courName,jdbcType=VARCHAR},</if>
			<if test="courCredit != null and courCredit > 0">cour_credit = #{courCredit,jdbcType=FLOAT},</if>
			<if test="courTeacherIds != null ">cour_teacher_ids = #{courTeacherIds,jdbcType=VARCHAR},
			</if>
			<if test="courMentroTeaids != null ">cour_mentro_teaids =
				#{courMentroTeaids,jdbcType=VARCHAR},
			</if>
			<if test="courTimeSchedule != null and courTimeSchedule != ''">cour_time_schedule =
				#{courTimeSchedule,jdbcType=VARCHAR},
			</if>
			<if test="courState != null and courState > 0 ">cour_state = #{courState,jdbcType=INTEGER},</if>
			<if test="courCreateUserid != null and courCreateUserid>0">cour_create_userid =
				#{courCreateUserid,jdbcType=INTEGER},
			</if>
			<if test="courCreateTime != null ">cour_create_time = #{courCreateTime, jdbcType=DATE},</if>
			<if test="courPoston != null ">cour_poston = #{courPoston, jdbcType=BIT},</if>
			<if test="courForumname != null and courForumname != ''">cour_forumName = #{courForumname,jdbcType=VARCHAR},</if>
			<if test="courVerify != null ">cour_verify = #{courVerify, jdbcType=BIT},</if>
			<if test="courCoverpictureid != null and courCoverpictureid >0 ">cour_coverPictureId =
				#{courCoverpictureid,jdbcType=INTEGER},
			</if>
			<if test="courDescribe != null and courDescribe != ''">cour_describe = #{courDescribe,jdbcType=LONGVARCHAR},
			</if>
			cour_openToAll=#{courOpenToAll},
			<if
				test="courTestLimitScore != null and courTestLimitScore >=0 and 100-courTestLimitScore>=0">
				cour_test_limitScore =
				#{courTestLimitScore,jdbcType=INTEGER},
			</if>
			cour_type=#{courType}
		</set>
		WHERE cour_id = #{courId,jdbcType=INTEGER}
	</update>

	<select id="findCourseByCourse" parameterType="com.recom.domain.Course"
		resultMap="CourBaseResultMap">
		SELECT * FROM Course
		<where>
			1=1
			<if test="courId != null and courId > 0">and cour_id = #{courId,jdbcType=INTEGER} </if>
			<if test="courCateids != null and courCateids != ''">AND cour_cateIds = #{courCateids,jdbcType=VARCHAR}</if>
			<if test="courTepaId != null and courTepaId > 0">AND cour_tepa_id = #{courTepaId,jdbcType=INTEGER}</if>
			<if test="courCode != null and courCode != ''">AND cour_code = #{courCode,jdbcType=VARCHAR}</if>
			<if test="courName != null and courName != ''">AND cour_name = #{courName,jdbcType=VARCHAR}</if>
			<if test="courCredit != null and courCredit > 0">AND cour_credit = #{courCredit,jdbcType=FLOAT}</if>
			<if test="courTeacherIds != null and courTeacherIds != ''">AND cour_teacher_ids = #{courTeacherIds,jdbcType=VARCHAR}
			</if>
			<if test="courMentroTeaids != null and courMentroTeaids != ''">AND cour_mentro_teaids =
				#{courMentroTeaids,jdbcType=VARCHAR}
			</if>
			<if test="courTimeSchedule != null and courTimeSchedule != ''">AND cour_time_schedule =
				#{courTimeSchedule,jdbcType=VARCHAR}
			</if>
			<if test="courState != null and courState > 0 ">AND cour_state = #{courState,jdbcType=INTEGER} </if>
			<if test="courCreateUserid != null and courCreateUserid>0">AND cour_create_userid =
				#{courCreateUserid,jdbcType=INTEGER}
			</if>
			<if test="courCreateTime != null ">AND cour_create_time = #{courCreateTime, jdbcType=DATE}
			</if>
			<if test="courPoston != null ">AND cour_poston = #{courPoston, jdbcType=BIT} </if>
			<if test="courForumname != null and courForumname != ''">AND cour_forumName = #{courForumname,jdbcType=VARCHAR}
			</if>
			<if test="courVerify != null ">AND cour_verify = #{courVerify, jdbcType=BIT} </if>
			<if test="courCoverpictureid != null and courCoverpictureid >0 ">AND cour_coverPictureId =
				#{courCoverpictureid,jdbcType=INTEGER}
			</if>
			<if test="courDescribe != null and courDescribe != ''">AND cour_describe = #{courDescribe,jdbcType=LONGVARCHAR}
			</if>
		</where>
	</select>


	<!--试题批量导入时根据用户信息检索对应课程是否符合用户所拥有的权限 by yangzq -->
	<select id="findCourseByAuthority" parameterType="map"
		resultType="int">
		SELECT
		COUNT(*)
		FROM
		Course c
		<if test="departId !=null and departId > 0">
			LEFT OUTER JOIN CourseSelectInformation csin ON
			csin.csin_cour_id = c.cour_id
		</if>
		<if test="userId != null and userId >0">
			LEFT OUTER JOIN Re_SelectCource rsco ON rsco.rsco_cour_id
			= c.cour_id
		</if>
		<trim prefix="where" prefixOverrides="and|or">
			1=1
			<if test="departId !=null and departId > 0">
				and csin.csin_depa_id = #{departId}
			</if>
			<if test="userId != null and userId >0">
				and rsco.rsco_user_id = #{userId}
				and rsco_valid=1 and
				rsco_verify=1
			</if>
			<if test="teacherId != null and teacherId != ''">
				and (c.cour_teacher_ids like
				CONCAT('%','${teacherId}','%')
				or c.cour_mentro_teaids like
				CONCAT('%','${teacherId}','%'))
			</if>
			<if test="courseId != null and courseId !=''">
				and c.cour_id = #{courseId}
			</if>
		</trim>
	</select>

	<!-- 课程审批查询结果总记录数 -->
	<select id="countCourseOfCheck" parameterType="map" resultType="int">
		SELECT
		COUNT(*)
		FROM
		Course c,User u
		<where>
			<if test="searchWord!=null and searchWord!=''">
				<if test="searchType!=null and searchType==1">
					c.cour_name like CONCAT('%','${searchWord}','%' )
				</if>
				<if test="searchType!=null and searchType==2">
					c.cour_code like CONCAT('%','${searchWord}','%' )
				</if>
				<if test="searchType!=null and searchType==3">
					c.cour_verify =#{searchWord}
				</if>
			</if>
			<if test="startTime!=null">
				<![CDATA[and c.cour_create_time >= #{startTime}]]>
			</if>
			<if test="endTime!=null">
				<![CDATA[and c.cour_create_time <= #{endTime}]]>
			</if>
			AND c.cour_create_userid=u.user_id
			<if test="departmentId!=null and departmentId>0">
				AND u.user_depa_id=#{departmentId}
			</if>
		</where>
	</select>
	<!-- 课程审批查询 -->
	<select id="queryCourseOfCheck" parameterType="map"
		resultType="com.recom.model.CourseCheckModel">
		SELECT
		c.cour_id as courId,
		c.cour_cateIds as courCateIds,
		e.evme_name as
		courTepaStyle,
		c.cour_code as courCode,
		c.cour_name as courName,
		c.cour_state as courState,
		u.user_realname as courCreateUserName,
		c.cour_create_time as courCreateTime,
		c.cour_verify as courVerify
		FROM
		Course c,User u,EvaluateMethod e
		<where>
			<if test="searchWord!=null and searchWord!=''">
				<if test="searchType!=null and searchType==1">
					c.cour_name like CONCAT('%','${searchWord}','%' )
				</if>
				<if test="searchType!=null and searchType==2">
					c.cour_code like CONCAT('%','${searchWord}','%' )
				</if>
				<if test="searchType!=null and searchType==3">
					c.cour_verify =#{searchWord}
				</if>
			</if>
			<if test="startTime!=null">
				<![CDATA[and c.cour_create_time >= #{startTime}]]>
			</if>
			<if test="endTime!=null">
				<![CDATA[and c.cour_create_time <= #{endTime}]]>
			</if>
			AND c.cour_create_userid=u.user_id
			<if test="departmentId!=null and departmentId>0">
				AND u.user_depa_id=#{departmentId}
			</if>
			AND c.cour_tepa_id=e.evme_id
		</where>
		order by cour_create_time desc
		<if test="maxCount!=null">
			LIMIT
			<if test="startIndex!=null">
				#{startIndex},
			</if>
			#{maxCount}
		</if>
	</select>
	<!-- 查询某一个审批的课程 -->
	<select id="queryOneCheckCourse" resultType="com.recom.model.CourseCheckModel"
		parameterType="int">
		SELECT
		c.cour_id as courId,
		c.cour_cateIds as courCateIds,
		e.evme_name as
		courTepaStyle,
		c.cour_code as courCode,
		c.cour_name as courName,
		c.cour_credit as courCredit,
		c.cour_teacher_ids as courTeacherIds,
		c.cour_state as courState,
		u.user_realname as courCreateUserName,
		c.cour_create_time as courCreateTime,
		c.cour_verify as courVerify,
		c.cour_describe as description,
		c.cour_mentro_teaids as
		courMentorTeaIds,
		c.cour_time_schedule as timeSchelue,
		c.cour_openToAll
		as courOpenToAll,
		d.depa_type as courCreatorDepaType
		FROM
		Course as c
		left join User as u on c.cour_create_userid=u.user_id
		left join
		Department as d on u.user_depa_id=d.depa_id
		left join
		EvaluateMethod as
		e on e.evme_id=c.cour_tepa_id
		<where>
			c.cour_tepa_id=e.evme_id
			AND
			c.cour_create_userid=u.user_id
			AND
			cour_id=#{_parameter}
		</where>
	</select>
	<!-- 审核课程，status为1表示审核通过，2表示审核没有通过，为0表示已经审核 -->
	<update id="checkCourse" parameterType="map">
		UPDATE Course
		SET
		cour_verify=#{status}
		<if test="openToAll!=null">
			,cour_openToAll=#{openToAll}
		</if>
		<if test="courState!=null and courState>0">
			,cour_state=#{courState}
		</if>
		WHERE
		cour_id=#{courseId}
	</update>

	<!-- 统计指定条件的课程总数 -->
	<select id="countTotalNumByQuery" resultType="int">
		select
		count(*)
		from
		Course
		<if test="departId!=null and departId>0">
			inner join User on user_id=cour_create_userid
		</if>
		<where>
			cour_verify=1
			<if test="departId!=null and departId>0">
				and user_depa_id=#{departId}
			</if>
			<if test="courseCateId!=null and courseCateId>0">
				and cour_cateIds like CONCAT("%,",'${courseCateId}',',%')
			</if>
			<if test="courseType!=null">
				and cour_type =#{courseType}
			</if>
			<if
				test="searchType!=null and searchType>0
					and searchWord!=null and searchWord!=''">
				<if test="searchType==1">
					and cour_name like '%${searchWord}%'
				</if>
				<if test="searchType==2">
					and cour_code like '%${searchWord}%'
				</if>
			</if>
		</where>
	</select>

	<!-- 根据搜索条件,获取课程列表 -->
	<select id="viewCourseListByQuery" resultType="com.recom.model.CourseListModel">
		select
		cour_id as courId,
		cour_cateids as courCateids,
		cour_code as
		courCode,
		cour_name as courName,
		cour_credit as courCredit,
		cour_openToAll as courOpenToAll,
		cour_type as courType,
		depa_name as
		departName
		from
		Course
		inner join User on user_id=cour_create_userid
		inner join Department on depa_id=user_depa_id
		<where>
			cour_verify=1
			<if test="departId!=null and departId>0">
				and user_depa_id=#{departId}
			</if>
			<if test="courseCateId!=null and courseCateId>0">
				and cour_cateIds like CONCAT("%,",'${courseCateId}',',%')
			</if>
			<if test="courseType!=null">
				and cour_type=#{courseType}
			</if>
			<if
				test="searchType!=null and searchType>0
					and searchWord!=null and searchWord!=''">
				<if test="searchType==1">
					and cour_name like '%${searchWord}%'
				</if>
				<if test="searchType==2">
					and cour_code like '%${searchWord}%'
				</if>
			</if>
		</where>
		order by cour_create_time desc
		<if test="maxCount!=null">
			limit
			<if test="startIndex!=null">
				#{startIndex},
			</if>
			#{maxCount}
		</if>
	</select>

	<!-- 创建课程 -->
	<insert id="create" parameterType="com.recom.domain.Course" keyProperty="courId">
		insert into
		Course(cour_cateids,cour_tepa_id,cour_code,cour_name,
		cour_credit,cour_describe,cour_time_schedule,
		cour_create_userid,cour_verify,cour_coverPictureId,
		cour_teacher_ids,cour_openToAll,cour_test_limitScore
		,cour_type,cour_year,cour_term,cour_studyPhase,cour_artScience)
		values
		(#{courCateids},#{courTepaId},#{courCode},#{courName},
		#{courCredit},#{courDescribe},#{courTimeSchedule},
		#{courCreateUserid},#{courVerify},#{courCoverpictureid},
		#{courTeacherIds},#{courOpenToAll},#{courTestLimitScore},
		#{courType},#{courYear},#{courTerm},#{courStudyPhase},#{courArtScience})
	</insert>
	<!-- 查询一门课程的所属部门id @Pery -->
	<select id="selectDepaIdCouse" parameterType="int" resultType="int">
		Select
		u.user_depa_id
		FROM
		Course c,User u
		WHERE
		c.cour_create_userid=u.user_id
		AND
		c.cour_id=#{__parameter}
	</select>

	<!-- 批量删除课程 -->
	<delete id="delete" parameterType="list">
		delete from
		Course
		<where>
			<if test="list!=null and list.size()>0">
				cour_id in
				<foreach collection="list" item="courId" index="index" open="("
					close=")" separator=",">
					#{courId}
				</foreach>
			</if>
		</where>
	</delete>

	<!-- 查询指定id的课程的详细信息 -->
	<select id="viewDetail" parameterType="int" resultType="com.recom.model.CourseDetailModel">
		select
		cour_id as courId,
		cour_cateids as courCateids,
		cour_tepa_id as
		courTepaId,
		cour_code as courCode,
		cour_type as courType,
		cour_year as
		courYear,
		cour_term as courTerm,
		cour_studyPhase as courStudyPhase,
		cour_artScience as courArtScience,
		cour_name as courName,
		cour_credit as
		courCredit,
		depa_name as departName,
		depa_type as departType,
		user_realname as courCreatorName,
		cour_create_time as courCreateTime,
		cour_describe as courDescribe,
		cour_teacher_ids as courTeacherIds,
		cour_mentro_teaids as courMentroTeaids,
		cour_time_schedule as
		courTimeSchedule,
		cour_state as courState,
		cour_poston as courPoston,
		cour_forumName as courForumName,
		cour_verify as courVerify,
		cour_coverPictureId as courCoverPictureId,
		cour_openToAll as
		courOpenToAll,
		cour_test_limitScore as courTestLimitScore
		from
		Course
		inner join User on user_id=cour_create_userid
		inner join Department on
		user_depa_id=depa_id
		where
		cour_id=#{_parameter}
	</select>

	<!-- 查询教师辅导或者主讲的所有课程:id和名称,用做筛选 -->
	<select id="viewCoursesByTeacher" resultType="com.recom.domain.Course">
		select
		cour_id as courId,
		cour_name as courName
		from
		Course
		<where>
			cour_verify=1 and cour_state=1
			<if test="type!=null and teacherId!=null">
				<if test="type==1">
					and cour_teacher_ids like '%,${teacherId},%'
				</if>
				<if test="type==2">
					and cour_mentro_teaids like '%,${teacherId},%'
				</if>
				<if test="type==3">
					and (cour_teacher_ids like '%,${teacherId},%'
					or
					cour_mentro_teaids like '%,${teacherId},%')
				</if>
				<if test="bbsOpenStatus!=null">
					and cour_poston=#{bbsOpenStatus}
				</if>
			</if>
		</where>
	</select>

	<select id="viewCourseByMentroId" parameterType="hashmap"
		resultType="com.recom.model.CourseModel">
		select
		C.cour_id as courId,
		C.cour_name as courName,
		mlm.mala_maxStudentNum as courMaxStudentNum,
		mlm.mlma_maxTime as
		courMaxTime
		from Course as C
		inner join User as U on
		user_id=cour_create_userid
		inner join Department as D on
		user_depa_id=depa_id
		left join MassedLearningManage as mlm on
		mlm.mlma_cour_id = C.cour_id
		<where>
			<if test="userId != null and userId > 0">
				C.cour_mentro_teaids like '%,${userId},%'
			</if>
			<if test="departId != null and departId > 0">
				and U.user_depa_id = #{departId}
			</if>
		</where>
	</select>
	<!-- 统计老师所教课程的信息 -->
	<select id="viewAllTeacherCourseInfo" parameterType="int"
		resultType="com.recom.model.TeacherCourseModel">
		SELECT
		C.cour_id as courseId,
		C.cour_name,
		C.cour_code,
		C.cour_type,
		C.cour_verify,
		C.cour_create_userid,
		C.cour_teacher_ids,
		C.cour_mentro_teaids,
		count(SC.rsco_cour_id) as
		count
		FROM
		Course C
		LEFT
		JOIN Re_SelectCource AS SC ON
		C.cour_id=SC.rsco_cour_id
		WHERE
		rsco_valid=1 and rsco_verify=1 and (
		C.cour_teacher_ids LIKE
		CONCAT("%",#{userId},"%")
		OR
		C.cour_mentro_teaids LIKE
		CONCAT("%",#{userId},"%")
		OR
		C.cour_create_userid=#{userId})
		GROUP BY
		C.cour_id
	</select>

	<!-- 查询指定的课程列表,用于课程选课统计 @author Wu -->
	<select id="viewCourseBaseList" resultType="com.recom.model.CourseLearnModel">
		select
		distinct cour_id as courseId,
		cour_name as courseName,
		cour_code
		as courseCode,
		cour_type as courseType,
		cour_tepa_id as courTepaId,
		cour_credit as courseCredit,
		count(rsco_id) as selectNum
		from
		Course
		left
		join Re_SelectCource on cour_id=rsco_cour_id
		<where>
			<if test="courseIds!=null and courseIds.size()>0">
				cour_id in
				<foreach collection="courseIds" item="courseId" index="index"
					open="(" close=")" separator=",">
					#{courseId}
				</foreach>
			</if>
		</where>
		group by cour_id
		<if test="noStuFilter!=null and noStuFilter>0">
			having selectNum>0
		</if>
	</select>

	<!-- 查询课程学习情况列表 -->
	<select id="viewCourseLearnList" resultType="com.recom.model.CourseLearnModel">
		select
		cour_id as courseId,
		count(rsco_id) as selectNum,
		sum(user_loginState) as onlineNum
		from
		Course
		inner join Re_SelectCource
		on rsco_cour_id=cour_id
		inner join User on user_id=rsco_user_id
		<where>
			user_type=1 and rsco_valid=1 and rsco_verify=1
			<if test="departId!=null and departId>0">
				and user_depa_id=#{departId}
			</if>
			<if test="courseIds!=null and courseIds.size()>0">
				and cour_id in
				<foreach collection="courseIds" item="courseId" index="index"
					open="(" close=")" separator=",">
					#{courseId}
				</foreach>
			</if>
			<if test="passOrNot!=null">
				<if test="passOrNot==4">
					<![CDATA[and rsco_totalScore>=60]]>
				</if>
				<if test="passOrNot==5">
					<![CDATA[and rsco_totalScore<60]]>
				</if>
			</if>
		</where>
		group by cour_id
		<if test="maxCount!=null and maxCount>0">
			limit
			<if test="startIndex!=null  and startIndex>=0">
				#{startIndex},
			</if>
			#{maxCount}
		</if>
	</select>

	<update id="setCourseChooseNum" parameterType="hashmap">
		UPDATE Course
		<set>
			<if test="type == 1">
				cour_chooseNum = cour_chooseNum + 1
			</if>
			<if test="type == 2">
				cour_chooseNum = cour_chooseNum - 1
			</if>
		</set>
		where cour_id = #{courseId}
	</update>

	<!-- 查询指定考核方式的所有课程 -->
	<select id="viewCoursesByEvaMethod" parameterType="int"
		resultType="com.recom.domain.Course">
		select
		cour_id as courId,
		cour_name as courName
		from
		Course
		<where>
			<if test="_parameter!=null and _parameter>0">
				cour_tepa_id=#{_parameter}
			</if>
		</where>
	</select>

	<!-- 更新课程的评分 -->
	<update id="assessCourse" parameterType="map">
		update
		Course
		set
		cour_assess_score=
		(cour_assess_score*(select sum(chap_assess_num)
		from
		Chapter where chap_cour_id=#{courseId})+#{score})/((select
		sum(chap_assess_num)
		from Chapter where chap_cour_id=#{courseId})+1)
		where cour_id=#{courseId};
	</update>

	<!-- 查询教务统计-学生成绩查看的相应课程 -->
	<select id="viewStatisticCourseList" resultType="com.recom.domain.Course">
		select
		cour_id as courId,
		cour_name as courName
		from
		Course
		<where>
			cour_verify=1 and cour_state=1
			<if test="year!=null and year>-1">
				and cour_year =#{year}
			</if>
			<if test="term!=null and term>-1">
				and cour_term =#{term}
			</if>
			<if test="phase!=null and phase>-1">
				and cour_studyPhase =#{phase}
			</if>
			<if test="artScience!=null and artScience>-1">
				and cour_artScience =#{artScience}
			</if>
			<if test="type!=null">
				and cour_type = #{type}
			</if>
		</where>
	</select>

	<!-- 根据课程编码查询课程 -->
	<select id="getCourByCode" parameterType="string" resultType="com.recom.domain.Course">
		select
		cour_id as courId,
		cour_code as courCode,
		cour_state as
		courState,
		cour_openToAll as courOpenToAll
		from
		Course
		<where>
			cour_code=#{_parameter}
		</where>
	</select>
	
	<!-- 查询课程名称 -->
	<select id="viewCourseName" parameterType="Integer" resultType="com.recom.domain.Course">
		select 
			cour_id as courId,
			cour_name as courName
		from
			Course
		<if test="_parameter != null and _parameter >0">
			where cour_id=#{_parameter}
		</if>
	</select>
</mapper>