<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="course">


	<select id="selectCourseInfoByIds" parameterType="list" resultType="com.recom.model.CourseModel"> 
		select 
		c.cour_id as courId,
		c.cour_name as courName,
		c.cour_describe as courDescribe,
		c.cour_state as courState,
		c.cour_credit as courCredit,
		c.cour_cateIds as courCateIds,
		c.cour_teacher_ids as courTeacherIds,
		c.cour_type as courType,
		c.cour_chooseNum as courChoosedNum,
		a.atta_location as courImg,
		a.atta_filename as filename,
		cs.csin_opentime as openDate,
		cs.csin_closetime as closeDate
		from 
		Course as c left join Attachment as a on a.atta_id=c.cour_coverPictureId
		left join
		CourseSelectInformation cs on c.cour_id=cs.csin_cour_id
		where 
		1=1
		<if test="list!=null and list.size()>0">
				and c.cour_id in
				<foreach collection="list" item="courId" index="index" open="("
					close=")" separator=",">
					#{courId}
				</foreach>
		</if>
	</select>

</mapper>