<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="department">
	<resultMap type="com.recom.domain.Department" id="BaseDepartment">
		<id column="depa_id" property="depaId" jdbcType="INTEGER" />
		<result column="depa_name" property="depaName" jdbcType="VARCHAR" />
		<result column="depa_abbreviation" property="depaAbbreviation"
			jdbcType="VARCHAR" />
		<result column="depa_code" property="depaCode" jdbcType="VARCHAR" />
		<result column="depa_parent_id" property="depaParentId"
			jdbcType="INTEGER" />
		<result column="depa_type" property="depaType" jdbcType="INTEGER" />
	</resultMap>

	<resultMap type="com.recom.model.PlatformStatisticModel" id="schoolTeaStatistic">
		<id column="depa_id" property="schoolId" jdbcType="INTEGER" />
		<result column="teaNum" property="teacherNum" jdbcType="INTEGER" />
	</resultMap>

	<resultMap type="com.recom.model.PlatformStatisticModel" id="schoolStuStatistic">
		<id column="depa_id" property="schoolId" jdbcType="INTEGER" />
		<result column="stuNum" property="studentNum" jdbcType="INTEGER" />
	</resultMap>
	
	<!--
		通过部门id，部门type查询其下级所有部门id
		@author EasonLian 
	 -->
	<select 
		id="viewAllDepaListBelongsToParentDepar" 
		parameterType="hashmap"
		resultType="com.recom.domain.Department">
		SELECT
			d1.depa_id as depaId,
			d1.depa_name as depaName,
			d1.depa_type as depaType
		FROM 
			Department as d1
		WHERE
			<if test="depaType == 1"><!-- 市级教务员 -->
				d1.depa_id = #{depaId}
				OR depa_parent_id = #{depaId}
				OR depa_parent_id IN (
					SELECT depa2.depa_id FROM Department as depa2
					WHERE depa2.depa_parent_id = #{depaId}
				)
			</if>
			<if test="depaType == 2"><!-- 区级教务员 -->
				d1.depa_id = #{depaId}
				OR d1.depa_parent_id = #{depaId}
			</if>
			<if test="depaType == 3"><!-- 校级教务员 -->
				d1.depa_id = #{depaId}
			</if>
			<if test="depaIds != null">
				d1.depa_id IN (${depaIds})
			</if>
	</select>

	<!--查询部门信息 -->
	<select id="queryDepartment" parameterType="int" resultMap="BaseDepartment">
		<![CDATA[
			select * from Department 			 
		]]>
		<where>
			<if test="_parameter>0 and _parameter!=4">
				depa_type=#{_parameter}
			</if>
		</where>
		order by depa_type
	</select>

	<!--查询上级部门信息 -->
	<select id="queryParentDepartment" parameterType="int" resultMap="BaseDepartment">
		<![CDATA[
			select * from Department 			 
		]]>
		<where>
		<![CDATA[
			depa_type<#{_parameter}
		]]>
		</where>
		order by depa_type
	</select>
	
	<!-- 统计每个学校的教师数 -->
	<select id="staSchoolTeaNum" resultMap="schoolTeaStatistic">
		select
		depa_id,
		count(*) as
		teaNum
		from
		Department
		inner join User on depa_id=user_depa_id
		inner join
		Re_UserRole on user_id=rero_user_id
		inner join Role on
		rero_role_id=role_id
		where
		depa_type=3
		and (role_id=2 or role_id=3)
		group by depa_id
		order by depa_id
	</select>

	<!-- 统计每个学校的学生人数 -->
	<select id="staSchoolStuNum" resultMap="schoolStuStatistic">
		select
		depa_id,
		count(*) as	stuNum,
		sum(user_loginState) as onlineStuNum
		from
		Department
		inner join User on depa_id=user_depa_id
		inner join
		Re_UserRole on user_id=rero_user_id
		inner join Role on
		rero_role_id=role_id
		where
		depa_type=3
		and role_id=1
		group by depa_id
		order by depa_id
	</select>

	<!-- 通过id查询部门的信息：id、名称、类型、上级部门id -->
	<select id="queryDepartById" parameterType="int" resultType="com.recom.domain.Department">
		select
		depa_id as depaId,
		depa_name as depaName,
		depa_type as depaType,
		depa_parent_id as depaParentId
		from
		Department
		<where>
			<if test="_parameter!=null and _parameter>0">
				depa_id=#{_parameter}
			</if>
		</where>
		limit 1
	</select>
	
	<!-- 根据部门对象查询部门   ****author lujoCom****-->
	<select id="findDepartByDepart" parameterType="com.recom.domain.Department"
		resultMap="BaseDepartment">
		<![CDATA[
			SELECT 
				depa_id, depa_name, 
				depa_abbreviation, depa_code, 
				depa_parent_id, depa_type
			FROM Department
		]]>
		<where>
			<if test="depaId != null and depaId > 0">
				depa_id = #{depaId}
			</if>
			<if test="depaName != null and depaName != ''">
				depa_name = #{depaName}
			</if>
			<if test="depaAbbreviation != null and depaAbbreviation != ''">
				depa_abbreviation = #{depaAbbreviation}
			</if>
			<if test="depaCode != null and depaCode != ''">
				depa_code = #{depaCode}
			</if>
			<if test="depaParentId != null and depaParentId > 0">
				depa_parent_id = #{depaParentId}
			</if>
			<if test="depaType != null and depaType > 0">
				depa_type = #{depaType}
			</if>
		</where>
		group by depa_type,depa_id
	</select>
	
	<!--添加部门，成功后返回id ****author lujoCom**** -->
	<insert id="insertDepartment" parameterType="com.recom.domain.Department"
		keyProperty="depaId">
		<![CDATA[
			INSERT INTO 
				Department(
					depa_name,
					depa_abbreviation,
					depa_code,
					depa_parent_id,
					depa_type)
			VALUES(
				#{depaName, jdbcType=NVARCHAR}, 
				#{depaAbbreviation, jdbcType=NVARCHAR},
				#{depaCode, jdbcType=NVARCHAR}, 
				#{depaParentId, jdbcType=INTEGER},
				#{depaType, jdbcType=INTEGER})
		]]>
	</insert>
	<!-- 根据上级组织和关键词模糊查询 -->
	<select id="queryDepartByPidAndKeyword" parameterType="map" resultType="com.recom.domain.Department">
		select 
				depa_id AS depaId,
			 	depa_name AS depaName, 
				depa_abbreviation AS depaAbbreviation,
				depa_code AS depaCode, 
				depa_parent_id AS depaParentId,
				depa_type AS depaType
		from
		Department
		where
		depa_parent_id=#{parentId}
		and
		depa_name like CONCAT('%','${keyword}','%' ) 
	</select>
	<!-- 根据上级组织查询 -->
	<select id="queryDepartByPid" parameterType="int" resultType="com.recom.domain.Department">
		select 
				depa_id AS depaId,
			 	depa_name AS depaName, 
				depa_abbreviation AS depaAbbreviation,
				depa_code AS depaCode, 
				depa_parent_id AS depaParentId,
				depa_type AS depaType
		from
		Department
		where
		depa_parent_id=#{_parameter}
		order by depa_type
	</select>
	<!-- 更新一个组织机构 -->
	<update id="updateOneDepartment" parameterType="com.recom.domain.Department">
		UPDATE
		Department
		SET
		depa_name=#{depaName},
		depa_abbreviation=#{depaAbbreviation},
		depa_code=#{depaCode},
		depa_parent_id=#{depaParentId},
		depa_type=#{depaType}
		WHERE
		depa_id=#{depaId}
	</update>
	<!-- 批量删除 -->
	<delete id="deleteBathDeparment" parameterType="java.util.List">
		DELETE from
		Department
		WHERE
		depa_id in
		<foreach collection="list" index="index" item="idItem" open="("
			close=")" separator=",">
			#{idItem}
		</foreach>
	</delete>
	<!-- 条件筛选查询，多字段查询-->
	<select id="selectByMutiTerm" parameterType="map" resultType="com.recom.model.DepartmentModel">
		SELECT
				depa_id AS depaId,
				depa_name AS depaName, 
				depa_abbreviation AS depaAbbreviation,
				depa_code AS depaCode, 
				depa_parent_id AS depaParentId,
				depa_type AS depaType
		FROM
			Department
		<where>
			<if test="searchType!=null and searchType==1">
				depa_name  LIKE CONCAT('%','${searchWord}','%' )
			</if>
				<if test="searchType!=null and searchType==2">
				depa_abbreviation  LIKE CONCAT('%','${searchWord}','%' )
			</if>
				<if test="searchType!=null and searchType==3">
				depa_code  LIKE CONCAT('%','${searchWord}','%' )
			</if>
			<if test="depaType!=null and depaType>0">
				AND depa_type=#{depaType}
			</if>	
			<if test="parentId!=null and parentId>0">
				AND depa_parent_id=#{parentId}
			</if>
			<if test="departId!=null and departId>0">
				AND depa_id=#{departId}
			</if>	
		</where>
		order by depa_type
		<if test="maxCount!=null">
			LIMIT
			<if test="startIndex!=null">
				#{startIndex},
			</if>
			    #{maxCount}
		</if>
	</select>	
	<!-- 筛选查询时总结果数查询 -->
	<select id="countByMutiTerm" parameterType="map" resultType="int">
		SELECT
			 count(*) 
		FROM
			Department
		<where>
			<if test="searchType!=null and searchType==1">
				depa_name  LIKE CONCAT('%','${searchWord}','%' )
			</if>
			<if test="searchType!=null and searchType==2">
				depa_abbreviation  LIKE CONCAT('%','${searchWord}','%' )
			</if>
			<if test="searchType!=null and searchType==3">
				depa_code  LIKE CONCAT('%','${searchWord}','%' )
			</if>
			<if test="depaType!=null and depaType>0">
				AND depa_type=#{depaType}
			</if>
			<if test="parentId!=null and parentId>0">
				AND depa_parent_id=#{parentId}
			</if>
			<if test="departId!=null and departId>0">
				AND depa_id=#{departId}
			</if>
		</where>				
	</select>
	<insert id="batchInsertDeparts" parameterType="list">
		insert into
			Department(depa_name,depa_abbreviation,depa_code,depa_parent_id,depa_type)
		<if test="list!=null and list.size()>0">
			values 
			<foreach collection="list" item="depart" index="index"
					 separator=",">
                (#{depart.depaName},#{depart.depaAbbreviation},
                #{depart.depaCode},#{depart.depaParentId},#{depart.depaType})
			</foreach>
		</if>
	</insert>
	
	<!-- 根据id获取部门名称，未指定则获取所有部门 -->
	<select id="queryDepartName" parameterType="int" resultType="com.recom.model.DepartmentModel">
		select
			depa_id AS depaId,
			depa_name AS depaName
		from 
			Department
		<where>
			<if test="_parameter!=null and _parameter>0">
				depa_id=#{_parameter}
			</if>
		</where>
	</select>
</mapper>