<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reSelectCourse">
	<resultMap type="com.recom.domain.Course" id="courseStatistic">
		<id column="cour_id" property="courId" jdbcType="INTEGER" />
		<result column="cour_name" property="courName" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 更新学习次数和学习时间 @author EasonLian -->
	<update id="updateOneRsco" parameterType="com.recom.domain.ReSelectCourse">
		UPDATE
		Re_SelectCource
		<trim prefix="SET" suffixOverrides=",">
			<if test="rscoVerify != null and rscoVerify >=0">
				rsco_verify = #{rscoVerify}
			</if>
			<if test="rscoLoginscore != null and rscoLoginscore > 0">
				rsco_loginScore = #{rscoLoginscore},
			</if>
			<if test="rscoMassedlearnscore != null and rscoMassedlearnscore > 0">
				rsco_massedLearnScore = #{rscoMassedlearnscore},
			</if>
			<if test="rscoLearntimescore != null and rscoLearntimescore >0">
				rsco_learnTimeScore =#{rscoLearntimescore},
			</if>
			<if test="rscoBbsdiscussscore != null and rscoBbsdiscussscore >0">
				rsco_bbsDiscussScore = #{rscoBbsdiscussscore},
			</if>
			<if test="rscoSubassessscore != null and rscoSubassessscore >0">
				rsco_subAssessScore= #{rscoSubassessscore},
			</if>
			<if test="rscoTestscore != null and rscoTestscore >0">
				rsco_testScore= #{rscoTestscore},
			</if>
			<if test="rscoTotalscore != null and rscoTotalscore >0">
				rsco_totalScore= #{rscoTotalscore},
			</if>
			<if test="rscoState != null and rscoState >0">
				rsco_state= #{rscoState}
			</if>
		</trim>
		<trim prefix="WHERE" prefixOverrides="AND">
			rsco_valid=1
			<if test="rscoId != null and rscoId > 0">
				AND rsco_id = #{rscoId}
			</if>
			<if test="rscoUserId != null and rscoUserId > 0">
				AND rsco_user_id = #{rscoUserId}
			</if>
			<if test="rscoCourId != null and rscoCourId > 0">
				AND rsco_cour_id = #{rscoCourId}
			</if>
		</trim>
	</update>

	<!-- 根据学生id、课程id，唯一确定一行，找到该学生该课程的成绩记录 @author EasonLian -->
	<select id="selectOneByUserIdAndCourId" parameterType="hashmap"
		resultType="com.recom.domain.ReSelectCourse">
		SELECT
		rsco_id as rscoId,
		rsco_user_id as rscoUserId,
		rsco_cour_id as rscoCourId,
		rsco_massedLearnScore as
		rscoMassedLearnScore,
		rsco_loginScore as rscoLoginScore,
		rsco_learnTimeScore as rscoLearnTimeScore,
		rsco_bbsDiscussScore as
		rscoBbsdiscussscore,
		rsco_subAssessScore as rscoSubassessscore,
		rsco_testScore as rscoTestscore,
		rsco_totalScore as rscoTotalscore,
		rsco_state as rscoState
		FROM
		Re_SelectCource AS rsco
		WHERE
		rsco_valid=1
		and rsco_verify=1 and
		rsco.rsco_user_id = #{userId}
		AND
		rsco.rsco_cour_id = #{courId}
	</select>

	<!-- 根据学生id查出学生所选的所有课程 -->
	<select id="sc" parameterType="int"
		resultType="com.recom.model.SelectCourseModel">
		<![CDATA[
			SELECT 
				rsc.rsco_id as rscoId,
				c.cour_name as courName,
				c.cour_teacher_ids as courTeacherIds
			FROM Re_SelectCource rsc
				left outer join Course c on c.cour_id = rsc.rsco_cour_id 
			where rsco_verify=1 and rsco_valid=1 and rsc.rsco_user_id = #{id}
	]]>
	</select>

	<!-- 查询所有课程 (带分页，带查询)@ZhangXin -->
	<select id="allcourse" resultType="com.recom.model.CourseModel">
	<![CDATA[
			SELECT 
				c.cour_name as courName,
				c.cour_id as courId,
				c.cour_credit as courCredit,
				c.cour_describe as courDescribe
			FROM Course c
	]]>
		<where>
			<if test="courseName !=null">
				c.cour_name like #{courseName}
			</if>
		</where>
		limit #{start},#{end}
	</select>

	<!-- 通过学生id以及课程id查找学生该课程 -->
	<select id="findOneCourceById" parameterType="java.util.Map"
		resultType="com.recom.domain.ReSelectCourse">
		<![CDATA[
		SELECT 
			rsco_id as rscoId,
			rsco_massedLearnScore as rscoMassedlearnscore,
			rsco_valid as rscoValid
		FROM Re_SelectCource 
		]]>
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="userId != null and userId > 0 ">
				rsco_user_id=#{userId}
			</if>
			<if test="courseId != null and courseId > 0">
				AND rsco_cour_id=#{courseId}
			</if>
		</trim>
	</select>

	<!-- 更改指定选课记录的有效性 -->
	<update id="changeScValidState" parameterType="java.util.Map">
		<![CDATA[
		update Re_SelectCource set rsco_valid=#{valid}
		]]>
		<where>
			1=1
			<if test="courseId != null and courseId > 0">
				and rsco_cour_id = #{courseId}
			</if>
			<if test="userId != null and userId > 0">
				and rsco_user_id = #{userId}
			</if>
			<if test="rscoId != null and rscoId > 0">
				and rsco_id = #{rscoId}
			</if>
		</where>
	</update>

	<!-- 选课 -->
	<insert id="insertSelectCourse" parameterType="com.recom.domain.ReSelectCourse">
		INSERT INTO
		Re_SelectCource(
		rsco_user_id, rsco_cour_id,
		rsco_verify,
		rsco_time,rsco_user_depaName,
		rsco_class_name,rsco_grade_id,rsco_grade_name
		)
		VALUES(
		#{rscoUserId,
		jdbcType=INTEGER},
		#{rscoCourId, jdbcType=INTEGER},
		#{rscoVerify,
		jdbcType=INTEGER},
		#{rscoTime, jdbcType=TIMESTAMP},
		#{rscoDepartName},
		#{rscoClassName},
		#{rscoGradeId},
		#{rscoGradeName}
		)
	</insert>

	<!-- 查询某个学生所选所有课程id、名称 @author 吴岘辉 若要修改或者注释，请先告知 -->
	<select id="queryCourseByStudent" parameterType="map"
		resultMap="courseStatistic">
		<![CDATA[
		select 
			cour_id,
			cour_name
		from
			Course 
			inner join Re_SelectCource on cour_id=rsco_cour_id
			inner join User on rsco_user_id=user_id
		]]>
		<where>
			rsco_verify=1 and rsco_valid=1 and cour_verify=1 and cour_state=1 
			<if test="userId != null">
				<![CDATA[and user_id=#{userId}]]>
			</if>
			<if test="bbsOpenStatus!=null">
				and cour_poston=#{bbsOpenStatus}
			</if>
		</where>
	</select>

	<!-- 统计所给课程的选课人数，@author 吴岘辉 -->
	<select id="staCourseSelectInfo" resultType="com.recom.model.CourseSelectInfoModel">
		select
		rsco_cour_id as courseId,
		count(*) as selectNum
		from
		Re_SelectCource
		<where>
			rsco_verify=1 and rsco_valid=1
			<if test="list!=null and list.size()>0">
				and rsco_cour_id in
				<foreach collection="list" item="courseId" index="index"
					open="(" close=")" separator=",">
                    	<![CDATA[#{courseId}]]>
				</foreach>
			</if>
		</where>
		group by
		rsco_cour_id
		order by
		rsco_cour_id
	</select>

	<select id="staLearningProgress" parameterType="int"
		resultType="com.recom.model.LearningProgressModel">
		select
		cour_id as courseId,
		cour_name as courseName,
		cour_type as courseType,
		cour_credit as courseCredit,
		cour_tepa_id as evaluateMethodId,
		rsco_massedLearnScore as massedLearnScore,
		rsco_loginScore as learnNumScore,
		rsco_learnTimeScore	as learnTimeScore,
		rsco_bbsDiscussScore as bbsDiscussScore,
		rsco_subAssessScore as	subAssessScore,
		rsco_testScore as testScore,
		rsco_totalScore as totalScore,
		rsco_state as rscoState
		from
		Course
		inner join Re_SelectCource on
		rsco_cour_id=cour_id
		<where>
			Course.cour_state = 1
			AND
			Course.cour_verify = 1
			and rsco_verify=1 and
			rsco_valid=1
			<if test="_parameter!=null">
				AND
				rsco_user_id=#{_parameter}
			</if>
		</where>
		order by cour_type
	</select>


	<!-- 查询特定的已选课程 @author 张鑫 -->
	<select id="selectedCertainCourse" parameterType="hashmap"
		resultType="com.recom.model.CourseModel">
		<![CDATA[
		SELECT 
				c.cour_id as courId,
				c.cour_name as courName,
				c.cour_describe as courDescribe,
				c.cour_credit as courCredit
			FROM Re_SelectCource rsc
				left outer join Course c on c.cour_id = rsc.rsco_cour_id 
			where rsco_verify=1 and rsco_valid=1 and rsc.rsco_id = #{reselectId}
			]]>
	</select>

	<!-- 增加指定选课的论坛讨论数 -->
	<update id="addBbsDiscussNum">
		update
		Re_SelectCource
		set
		rsco_bbsDiscussScore=rsco_bbsDiscussScore+1
		<where>
			rsco_verify=1 and rsco_valid=1
			<if test="stuId!=null">
				and rsco_user_id=#{stuId}
			</if>
			<if test="courseId!=null">
				and rsco_cour_id=#{courseId}
			</if>
		</where>
	</update>

	<!-- 根据条件查询选课总数 -->
	<select id="countTotalNum" resultType="int">
		select
		count(rsco_id)
		from
		Re_SelectCource
		inner join User on
		user_id=rsco_user_id
		<where>
			user_type=1 and rsco_valid=1 and rsco_verify=1
			<if test="courseId!=null and courseId>0">
				and
				rsco_cour_id=#{courseId}
			</if>
			<if test="departId!=null and departId>0">
				and
				user_depa_id=#{departId}
			</if>
			<if test="classId!=null and classId>0">
				and user_clas_id=#{classId}
			</if>
			<if test="classIds!=null and classIds.size()>0">
				and user_clas_id in
				<foreach collection="classIds" item="clasId" index="index"
					open="(" close=")" separator=",">
					#{clasId}
				</foreach>
			</if>
			<if test="courses!=null and courses.size()>0">
				and rsco_cour_id in
				<foreach collection="courses" item="course" index="index"
					open="(" close=")" separator=",">
					#{course.courId}
				</foreach>
			</if>
			<if
				test="searchType!=null and searchType>0 and 
					searchWord!=null and searchWord!=''">
				<if test="searchType==1">
					and user_realname like '%${searchWord}%'
				</if>
				<if test="searchType==2">
					and user_loginname like '%${searchWord}%'
				</if>
			</if>
			<if test="startTime!=null">
				<![CDATA[and rsco_time >= #{startTime}]]>
			</if>
			<if test="endTime!=null">
				<![CDATA[and rsco_time <= #{endTime}]]>
			</if>
			<if test="scoreType!=null">
				<if test="scoreType==1">
					<![CDATA[and rsco_totalScore<10]]>
				</if>
				<if test="scoreType==2">
					<![CDATA[and rsco_totalScore>=10 and rsco_totalScore<20]]>
				</if>
				<if test="scoreType==3">
					<![CDATA[and rsco_totalScore>=20 and rsco_totalScore<60]]>
				</if>
				<if test="scoreType==4">
					<![CDATA[and rsco_totalScore>=60]]>
				</if>
				<if test="scoreType==5">
					<![CDATA[and rsco_totalScore<60]]>
				</if>
			</if>
			<if test="confirm!=null and confirm>0">
				<if test="confirm==1">
					<![CDATA[and rsco_state=1]]>
				</if>
				<if test="confirm==2">
					<![CDATA[and rsco_state=0]]>
				</if>
			</if>
		</where>
	</select>

	<!-- 根据条件,查询选课统计列表 -->
	<select id="viewList" resultType="com.recom.model.CourseSelectModel">
		select
		rsco_id as selectCourseId,
		user_realname as stuName,
		user_loginname as stuNum,
		user_depa_id as schoolId,
		user_clas_id as	stuClassId,
		rsco_cour_id as courseId,
		rsco_time as selectTime,
		rsco_massedLearnScore as massedLearnTime,
		rsco_loginScore as learnNum,
		rsco_learnTimeScore as learnTime,
		rsco_bbsDiscussScore as bbsDiscuss,
		rsco_subAssessScore as subAssessSourceScore,
		rsco_testScore as testSourceScore,
		rsco_totalScore as totalScore,
		rsco_state as rscoState
		from
		Re_SelectCource
		inner
		join User on user_id=rsco_user_id
		<where>
			user_type=1 and rsco_valid=1 and rsco_verify=1
			<if test="courseId!=null and courseId>0">
				and
				rsco_cour_id=#{courseId}
			</if>
			<if test="departId!=null and departId>0">
				and
				user_depa_id=#{departId}
			</if>
			<if test="classId!=null and classId>0">
				and user_clas_id=#{classId}
			</if>
			<if test="classIds!=null and classIds.size()>0">
				and user_clas_id in
				<foreach collection="classIds" item="clasId" index="index"
					open="(" close=")" separator=",">
					#{clasId}
				</foreach>
			</if>
			<if test="courses!=null and courses.size()>0">
				and rsco_cour_id in
				<foreach collection="courses" item="course" index="index"
					open="(" close=")" separator=",">
					#{course.courId}
				</foreach>
			</if>
			<if
				test="searchType!=null and searchType>0 and 
					searchWord!=null and searchWord!=''">
				<if test="searchType==1">
					and user_realname like '%${searchWord}%'
				</if>
				<if test="searchType==2">
					and user_loginname like '%${searchWord}%'
				</if>
			</if>
			<if test="startTime!=null">
				<![CDATA[and rsco_time >= #{startTime}]]>
			</if>
			<if test="endTime!=null">
				<![CDATA[and rsco_time <= #{endTime}]]>
			</if>
			<if test="scoreType!=null">
				<if test="scoreType==1">
					<![CDATA[and rsco_totalScore<10]]>
				</if>
				<if test="scoreType==2">
					<![CDATA[and rsco_totalScore>=10 and rsco_totalScore<20]]>
				</if>
				<if test="scoreType==3">
					<![CDATA[and rsco_totalScore>=20 and rsco_totalScore<60]]>
				</if>
				<if test="scoreType==4">
					<![CDATA[and rsco_totalScore>=60]]>
				</if>
				<if test="scoreType==5">
					<![CDATA[and rsco_totalScore<60]]>
				</if>
			</if>
			<if test="confirm!=null and confirm>0">
				<if test="confirm==1">
					<![CDATA[and rsco_state=1]]>
				</if>
				<if test="confirm==2">
					<![CDATA[and rsco_state=0]]>
				</if>
			</if>
		</where>
		order by rsco_id desc
		<if test="maxCount!=null">
			limit
			<if test="startIndex!=null">
				#{startIndex},
			</if>
			#{maxCount}
		</if>
	</select>

	<!-- 更新学生集中学习成绩 author lujoCom -->
	<update id="updateStudentMassedLearnScore" parameterType="hashmap">
		UPDATE
		Re_SelectCource
		SET
		rsco_massedLearnScore = rsco_massedLearnScore
		+ #{studyTime},
		rsco_loginScore=rsco_loginScore+1 
		<trim prefix="WHERE" prefixOverrides="AND">
			rsco_verify=1 and rsco_valid=1
			<if test="rscoUserId != null and rscoUserId.length > 0">
				AND rsco_user_id in
				<foreach collection="rscoUserId" item="stuId" open="("
					close=")" separator=",">
					#{stuId}
				</foreach>
			</if>
			<if test="rscoCourId != null and rscoCourId > 0">
				AND rsco_cour_id = #{rscoCourId}
			</if>
		</trim>
	</update>

	<delete id="deleteUserCourseByUserIds" parameterType="hashmap">
		DELETE FROM Re_SelectCourse
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="userIds != null and userIds.length > 0">
				rsco_user_id in
				<foreach collection="userIds" item="userId" open="(" close=")"
					separator=",">
					#{userId}
				</foreach>
			</if>
		</trim>
	</delete>

	<!-- 减少论坛讨论数 -->
	<update id="reduceBbsDiscussNum">
		update
		Re_SelectCource
		set
		rsco_bbsDiscussScore=rsco_bbsDiscussScore-#{reduceNum}
		<where>
			rsco_valid=1 and rsco_verify=1
			<if test="stuId!=null">
				and rsco_user_id=#{stuId}
			</if>
			<if test="courseId!=null">
				and rsco_cour_id=#{courseId}
			</if>
		</where>
	</update>

	<!-- 查询学生所有选课的学分 - 罗晖 -->
	<select id="selectCreditOfStudent" parameterType="hashmap"
		resultType="Integer">
		SELECT
		COUNT(C.cour_credit)
		FROM
		Re_SelectCource as R
		LEFT JOIN
		Course as C ON C.cour_id = R.rsco_cour_id
		WHERE
		rsco_valid=1 and
		rsco_verify=1 and
		R.rsco_user_id = #{userId}
	</select>

	<!-- 统计整个平台的学习情况 -->
	<select id="staTotalLearnInfo" resultType="com.recom.model.PlatformStatisticModel">
		select
		sum(rsco_loginScore) as totalLearningNum,
		sum(rsco_learnTimeScore) as
		totalLearningTime
		from
		Re_SelectCource
		where
		rsco_valid=1 and
		rsco_verify=1
	</select>

	<!-- 按学校分别统计学习情况 -->
	<select id="staSchoolLearnInfo" resultType="com.recom.model.PlatformStatisticModel">
		select
		depa_id as
		schoolId,
		sum(rsco_loginScore) as totalLearningNum,
		sum(rsco_learnTimeScore) as totalLearningTime
		from
		Department
		inner join
		User on user_depa_id=depa_id
		inner join Re_SelectCource on
		rsco_user_id=user_id
		where
		depa_type=3 and
		rsco_valid=1 and rsco_verify=1
		group by depa_id
	</select>

	<!-- 根据id更新某项选课记录的总分 -->
	<update id="updateTotalScore" parameterType="list">
		update
		Re_SelectCource
		<trim prefix="set rsco_totalScore=Case " suffix=" end">
			<foreach collection="list" item="sc" index="index">
				<if test="sc.rscoId!=null and sc.rscoId>0">
					when rsco_id=#{sc.rscoId} then #{sc.rscoTotalscore}
				</if>
			</foreach>
		</trim>
		<where>
			rsco_id in
			<foreach collection="list" item="sc" open="(" close=")"
				separator=",">
				<if test="sc.rscoId!=null and sc.rscoId>0">
					#{sc.rscoId}
				</if>
			</foreach>
		</where>
	</update>

	<!-- 获取相关课程的所有选课记录及成绩信息 -->
	<select id="attainCourseSelectInfo" resultType="com.recom.domain.ReSelectCourse">
		select
		rsco_id as rscoId,
		rsco_cour_id as rscoCourId,
		rsco_user_id as
		rscoUserId,
		rsco_massedLearnScore as rscoMassedLearnScore,
		rsco_loginScore as rscoLoginScore,
		rsco_learnTimeScore as
		rscoLearnTimeScore,
		rsco_bbsDiscussScore as rscoBbsdiscussscore,
		rsco_subAssessScore as rscoSubassessscore,
		rsco_testScore as
		rscoTestscore,
		rsco_totalScore as rscoTotalscore
		from
		Re_SelectCource
		<where>
			rsco_valid=1 and rsco_verify=1
			<if test="courIds!=null and courIds.size()>0">
				and rsco_cour_id in
				<foreach collection="courIds" item="courId" index="index"
					open="(" close=")" separator=",">
					#{courId}
				</foreach>
			</if>
		</where>
	</select>
	<!-- 更新冗余字段的值（用户和机构信息） -->
	<update id="updateUserDepaInfo" parameterType="map">
		update
		Re_SelectCource
		<set>
			<if test="depaName!=null">
				rsco_user_depaName=#{depaName},
			</if>
			<if test="className!=null">
				rsco_class_name=#{className},
			</if>
			<if test="gradeId!=null and gradeId>0">
				rsco_grade_id=#{gradeId},
			</if>
			<if test="gradeName!=null">
				rsco_grade_name=#{gradeName}
			</if>
		</set>
		<where>
			1=1
			<if test="userId!=null and userId>0">
				and rsco_user_id=#{userId}
			</if>
			<if test="(userId==null or 0>=userId) and depaId!=null and dapaId>0">
				and rsco_user_id in (
				select user_id from User where
				user_depa_id=#{depaId})
			</if>
			<if test="(userId==null or 0>=userId) and classId!=null and classId>0">
				and rsco_user_id in (
				select user_id from User where
				user_clas_id=#{classId})
			</if>
			<if
				test="(userId==null or 0>=userId) and 
					(classId==null or 0>=classId) and 
					gradeId!=null and gradeId>0">
				and rsco_user_id in (
				select user_id from User
				inner join Class
				on clas_id=user_clas_id
				where clas_grad_id=#{gradeId})
			</if>
		</where>
	</update>

	<!-- 更新课程测试成绩 -->
	<update id="updateUserTestScore" parameterType="map">
		update
		Re_SelectCource
		set
		rsco_testScore=#{score}
		where
		rsco_user_id=#{userId}
		and rsco_cour_id=#{courseId}
	</update>
	
	<!-- 统计课程的学习时间和次数 -->
	<select id="staCourseLearnState" parameterType="list" 
			resultType="com.recom.model.CourseLearnModel">
		select 	
			rsco_cour_id as courseId,
			sum(rsco_loginScore) as learnNum,
			sum(rsco_learnTimeScore) as learnTime
		from 
			Re_SelectCource
		<if test="list!=null and list.size()>0">
		where 
			rsco_cour_id in
			<foreach collection="list" item="courId" index="index"
				open="(" close=")" separator=",">
				#{courId}
			</foreach>
		</if>
		GROUP BY rsco_cour_id
	</select>

	<!-- 统计课程的学习时间和次数 -->
	<select id="staCourseLearnStateByGrade" parameterType="map" 
			resultType="com.recom.model.CourseLearnModel">
		select 	
			rsco_cour_id as courseId,
			rsco_user_depaName as depaName,
			rsco_grade_id as gradeId,
			rsco_grade_name as gradeName,
			count(rsco_id) as selectNum,
			sum(rsco_loginScore) as learnNum,
			sum(rsco_learnTimeScore) as learnTime,
			sum(rsco_bbsDiscussScore) as bbsPostNum
		from 
			Re_SelectCource
		INNER JOIN Grade on rsco_grade_id=grad_id
		where 1=1
			<if test="departId!=null and departId>0">
				and grad_depa_id=#{departId}
			</if>
			<if test="courseId!=null and courseId>0">
				and rsco_cour_id=#{courseId}
			</if>			
		GROUP BY
			rsco_cour_id,rsco_grade_id
		<if test="filter!=null and filter==1">
			having selectNum>0
		</if>
		ORDER BY 
			courseId,depaName,gradeName
	</select>

	<!-- 根据查询统计课程的学习时间和次数 by libo -->
	<select id="staCourseLearnStateByQuery" parameterType="list"
		resultType="com.recom.model.CourseLearnModel">
		select
		rsco_cour_id as courseId,
		sum(rsco_loginScore) as learnNum,
		sum(rsco_learnTimeScore) as learnTime
		from
		Re_SelectCource
		inner
		join User on user_id=rsco_user_id
		<where>
			user_type=1 and rsco_valid=1 and rsco_verify=1
			<if test="departId!=null and departId>0">
				and user_depa_id=#{departId}
			</if>
			<if test="courseIds!=null and courseIds.size()>0">
				and rsco_cour_id in
				<foreach collection="courseIds" item="courseId" index="index"
					open="(" close=")" separator=",">
					#{courseId}
				</foreach>
			</if>
		</where>
		GROUP BY rsco_cour_id
	</select>
	
	<!-- 根据条件,查询导出的选课统计列表相关信息 -->
	<select id="viewExportList" resultType="com.recom.model.CourseSelectModel">
		select
		rsco_user_id as stuId,
		user_realname as stuName,
		user_loginname as stuNum,
		rsco_grade_name as stuGrade,
		cour_id as courseId,
		cour_name as courseName,
		cour_credit as courseCredit,
		cour_cateIds as courCategory,
		cour_year as courYear,
		cour_term as courTerm,
		cour_studyPhase as courStudyPhase,
		cour_artScience as courArtScience,
		cour_type as courseType,
		rsco_totalScore as totalScore
		from
		Re_SelectCource
		inner join User on user_id=rsco_user_id
		inner join Course on cour_id=rsco_cour_id
		<where>
			user_type=1 and rsco_valid=1 and rsco_verify=1
			<if test="courseId!=null and courseId>0">
				and
				rsco_cour_id=#{courseId}
			</if>
			<if test="departId!=null and departId>0">
				and
				user_depa_id=#{departId}
			</if>
			<if test="classId!=null and classId>0">
				and user_clas_id=#{classId}
			</if>
			<if test="classIds!=null and classIds.size()>0">
				and user_clas_id in
				<foreach collection="classIds" item="clasId" index="index"
					open="(" close=")" separator=",">
					#{clasId}
				</foreach>
			</if>
			<if test="courses!=null and courses.size()>0">
				and rsco_cour_id in
				<foreach collection="courses" item="course" index="index"
					open="(" close=")" separator=",">
					#{course.courId}
				</foreach>
			</if>
			<if
				test="searchType!=null and searchType>0 and 
					searchWord!=null and searchWord!=''">
				<if test="searchType==1">
					and user_realname like '%${searchWord}%'
				</if>
				<if test="searchType==2">
					and user_loginname like '%${searchWord}%'
				</if>
			</if>
			<if test="startTime!=null">
				<![CDATA[and rsco_time >= #{startTime}]]>
			</if>
			<if test="endTime!=null">
				<![CDATA[and rsco_time <= #{endTime}]]>
			</if>
			<if test="scoreType!=null">
				<if test="scoreType==1">
					<![CDATA[and rsco_totalScore<10]]>
				</if>
				<if test="scoreType==2">
					<![CDATA[and rsco_totalScore>=10 and rsco_totalScore<20]]>
				</if>
				<if test="scoreType==3">
					<![CDATA[and rsco_totalScore>=20 and rsco_totalScore<60]]>
				</if>
				<if test="scoreType==4">
					<![CDATA[and rsco_totalScore>=60]]>
				</if>
				<if test="scoreType==5">
					<![CDATA[and rsco_totalScore<60]]>
				</if>
			</if>
			<if test="confirm!=null and confirm>0">
				<if test="confirm==1">
					<![CDATA[and rsco_state=1]]>
				</if>
				<if test="confirm==2">
					<![CDATA[and rsco_state=0]]>
				</if>
			</if>
		</where>
		order by rsco_grade_name,rsco_user_id
	</select>
	
	<!-- 确认某条选课记录，及表示选课成绩已记录 -->
	<update id="confirmOneScore" parameterType="map">
		update
			Re_SelectCource
		set
			rsco_state=1,
			rsco_confirmId=#{confirmId}
		where
			rsco_state=0 
			and rsco_user_id=#{userId}
			and rsco_cour_id=#{courseId}
	</update>
</mapper>