<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reUserRole">

	<!-- 根据用户id获取其角色列表 -->
	<select id="viewRoleListByUser" parameterType="int" resultType="com.recom.domain.Role">
		select 
			role_id as roleId,
			role_name as roleName
		from 
			Role
			inner join Re_UserRole on rero_role_id=role_id
		<where>
			<if test="_parameter!=null">
				rero_user_id=#{_parameter}
			</if>		
		</where>	
	</select>
	
	<insert id="saveUserRole">
		INSERT INTO 
			Re_UserRole(rero_user_id, rero_role_id, rero_time)
		values
			<foreach collection="list" index="index" item="item" separator=",">
				(#{item.reroUserId, jdbcType=INTEGER}, #{item.reroRoleId, jdbcType=INTEGER},
				#{item.reroTime,jdbcType=TIMESTAMP})
			</foreach>
	</insert>
	
	<insert id="saveUserRoleSingal" parameterType="com.recom.domain.ReUserRole">
		INSERT INTO 
			Re_UserRole(rero_user_id, rero_role_id, rero_time)
		values
		(#{reroUserId, jdbcType=INTEGER}, #{reroRoleId, jdbcType=INTEGER},
				#{reroTime,jdbcType=TIMESTAMP})
	</insert>
	<select id="findReUserRoleId" parameterType="com.recom.domain.ReUserRole" resultType="Integer">
		SELECT 
			rero_id
		FROM Re_UserRole 
		WHERE 
			rero_user_id = #{reroUserId} 
		AND 
			rero_role_id = #{reroRoleId}
	</select>
	
	<!-- 删除某个人的某些权限 -->
	<delete id="deleteReUserRoleId" parameterType="hashmap">
		DELETE FROM Re_UserRole 
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="roleUserIds != null and roleUserIds.length > 0">
				rero_user_id in
				<foreach collection="roleUserIds" item="userId" open="(" separator="," close=")">
					#{userId}
				</foreach>
			</if>
			<if test="roleDeles != null and roleDeles.length > 0">
				AND rero_role_id in 
				<foreach collection="roleDeles" item="roleId" open="(" separator="," close=")">
					#{roleId}
				</foreach>
			</if>
		</trim>
	</delete>
	
	
	
	
	
	
</mapper>